.calendar {

  &__btn {

    &-info {
      margin-left: 16px;
      font-family: "Roboto";
    }

    svg {
      position: absolute;
      right: 8px;
      top: 50%;
      width: 24px;
      height: 24px;
      fill: #a9a9a9;
      transform: translateY(-50%);
      transition: transform 300ms ease 0s;
    }
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    height: 100%;
    cursor: pointer;
    user-select: none;
    transition: border 300ms ease 0s;
  }

  &__main {
    position: absolute;
    overflow: auto;
    border-radius: 6px;
    width: 100%;
    height: 240px;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: all 300ms ease 0s;
    z-index: 100;
    background: #fff;
  }

  &_active {
    .calendar {
      &__btn {
        svg {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      &__main {
        transform: scaleY(1);
      }
    }
  }

  &_bottom {
    .calendar {
      &__main {
        top: 46px;
      }
    }
  }

  &_top {
    .calendar {
      &__main {
        bottom: 46px;
        transform-origin: 100% 100%;
      }
    }
  }
  position: relative;
  height: 100%;
}

.air-datepicker {

  .air-datepicker-body--day-name {
    font-family: "Open Sans", sans-serif;
    color: #f68521;
  }

  .-selected- {
    background: #f68521 !important;
  }
  .-in-range-{
    background: #5e606446 !important;
  }
  .-current- {
    color: #255296 !important;

    &.-selected- {
      color: #fff !important;
    }
  }
  border: none !important;
  width: 100% !important;
}
