.page {
  min-height: 1500px;
}

.main-content {
  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__column {
  }

  &__column-one {
    margin-right: 30px;
    width: 100%;
    max-width: 521px;
    background-color: rgb(20 156 219);

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }

  &__column-two {
    width: 100%;
    max-width: 418px;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }
}

.adviser {
  &__main-title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 36px;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    @include media-breakpoint-down(xs) {
      line-height: 100%;
      text-align: left;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 24px;
    }
  }

  &__info {
    margin-bottom: 33px;
    max-width: 455px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 9px;
      max-width: 100%;
      line-height: 150%;
    }
  }

  &__info-opacity {
    opacity: 0.5;

    @include media-breakpoint-down(sm) {
      margin-bottom: 17px;
      line-height: normal;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-size: 18px;
  }

  &__row-input {
    display: flex;
    margin-bottom: 33px;

    @include media-breakpoint-down(xs) {
      display: block;
      margin-bottom: 26px;
    }
  }

  &__input {
    input {
      &::placeholder {
        font-size: 14px;
      }
      border: 1px solid #e2e2e2;
      border-radius: 6px 0px 0px 6px;
      padding-left: 15px;
      width: 100%;
      height: 100%;
      @include media-breakpoint-down(xs) {
        border-radius: 6px;
      }
    }
    position: relative;
    flex: 1 0 67%;
    flex: 1 0 67%;
    height: 42px;
    height: 42px;

    &::before {
      content: "+380";
      position: absolute;
      left: 10px;
      top: 50%;
      pointer-events: none;
      transform: translateY(-50%);
      font-size: 14px;
      opacity: 0;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 16px;
      border-radius: 6px;
      width: 100%;
    }
  }

  &__input-error {
    position: absolute;
    bottom: -18px;
    padding-left: 1px;
    font-size: 12px;
  }

  &__btn {
    flex: 1 0 33%;
    border-radius: 0 6px 6px 0;
    height: 42px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 22px;
      border-radius: 6px;
    }
  }

  &__btn-form {
    display: none;
    border: 1px solid #f68521;
    border-radius: 6px;
    width: 100%;
    height: 42px;
    transition: all 300ms ease 0s;
    font-size: 16px;
    color: #222;
    background: #fff;

    &:active {
      transform: scale(0.97);
    }

    @include media-breakpoint-down(xs) {
      display: block;
    }
  }

  &__contacts {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__contacts-image {
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
    overflow: hidden;
    margin-right: 15px;
    border-radius: 6px;
    max-width: 270px;
    max-height: 181px;
    aspect-ratio: 1.491/1;

    @include media-breakpoint-down(md) {
      margin: 0 0 10px;
      max-width: 100%;
      max-height: 100%;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: 24px;
      aspect-ratio: 1.82/1;
    }
  }

  &__contacts-main {
    width: 100%;
    max-width: 219px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  &__contacts-title {
    margin-bottom: 4px;
    font-size: 22px;

    @include media-breakpoint-down(md) {
      text-align: center;
    }

    @include media-breakpoint-down(xs) {
      text-align: left;
    }
  }

  &__contacts-info {
    margin-bottom: 24px;
    font-size: 14px;
    color: #555;

    @include media-breakpoint-down(md) {
      text-align: center;
    }

    @include media-breakpoint-down(xs) {
      text-align: left;
    }
  }

  &__contacts-list {
    svg {
      margin-right: 12px;
      width: 24px;
      height: 24px;
      fill: #3e7739;
      opacity: 0.5;
    }

    a {
      color: #222;
    }

    li {
      display: flex;
      align-items: center;
      margin: 0 0 16px;

      @include media-breakpoint-down(sm) {
        margin: 0 10px 16px 0;
      }
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  margin-top: 23px;

  @include media-breakpoint-down(sm) {
    margin: 34px 0 0;
  }
}

.form {
  &__wrapper {
    position: relative;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    min-height: 544px;
    transform: translateY(-38px);
    z-index: 1;
    background: #fff;
  }

  &__tabs {
    &-slider {
      position: absolute;
      top: 0;
      width: 33%;
      height: 100%;
      transition: all 300ms ease 0s;
      background-color: #fff;
    }
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 9px 9px 0 0;
    height: 58px;
    background: rgb(196 196 196 / 20%);
  }

  &__tab {
    &_active {
      opacity: 1;
    }
    position: relative;
    display: flex;
    flex: 1 0 33%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 300ms ease 0s;
    z-index: 1;
    font-size: 14px;
    opacity: 0.5;
  }

  &__main {
    padding: 22px;
  }

  &__state {
    min-height: 378px;
  }

  &__title {
    margin: 0 0 5px 15px;
    font-size: 13px;
    color: #888;
  }

  &__drop {
    label{
      position: absolute;
      right: 5px;
      top: -18px;
      font-size: 12px;
      color: rgb(199 41 41);
    }
    &-tags {
      li {
        border: 1px solid #e2e2e2;
        border-radius: 6px;
        padding: 3px 10px;
        height: 22px;
        box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
        line-height: 16px;
        font-size: 12px;
        color: #222;
        background: #fff;
      }
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
      margin-bottom: 8px;
      min-height: 68px;
      max-height: 200px;
      gap: 8px;
    }
    &-food {
      position: relative;
    }
    position: relative;
    margin-bottom: 14px;
    width: 100%;
    height: 42px;
  }

  &__counter {
    width: 100%;
    height: 42px;
  }

  &__counter {
    &-btn {
      svg {
        margin: 0;
        width: 16px;
        height: 16px;
        fill: #f68521;
      }
      border-radius: 50%;
      padding: 4px;
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: all 100ms ease 0s;

      &:active {
        transform: scale(0.9);
      }
    }

    &-remove {
    }

    &-count {
    }

    &-add {
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 42px;
    user-select: none;
  }

  &__btn {
    &_finish {
      display: none;
    }

    &-error {
      transition: all 300ms ease 0s;
      font-size: 12px;
      color: rgb(199 41 41);
    }
    margin-top: 34px;
    border: 1px solid #f68521;
    border-radius: 6px;
    width: 100%;
    height: 42px;
    font-size: 16px;
    color: #222;

    &:hover {
      @include media-breakpoint-up(md) {
        color: #fff;
        background: #f68521;
      }
    }

    &:active {
      transform: scale(0.97);
    }
  }

  &__input {
    &-wrap {
      position: relative;

    }
    &-for-validate{
      position: absolute;
      top: 0;
      width: 100%;
      height: 0;
      pointer-events: none;
      z-index: -100;
      background-color: red;
      opacity: 0;
    }
    margin-bottom: 16px;
    margin-bottom: 16px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    padding-left: 18px;


  }

  &__phone {

  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 0px;
    transition: all 300ms ease 0s;
    font-size: 12px;
    color: rgb(199 41 41);
  }
  &__error-food {
    &_active {
      opacity: 1;
    }
    bottom: -16px;
    opacity: 0;
  }

  &__stars {
    &-one-star {
      svg {
        margin-left: 4px;
        width: 18px;
        height: 18px;
        cursor: pointer;
        fill: #f5c213;
      }

      &_active {
        opacity: 1;
      }
      transition: opacity 300ms ease 0s;
      opacity: 0.5;

      &:hover {
        transform: scale(1.1);
      }
    }
    display: flex;
    align-items: center;
    margin: 0 0 12px 11px;
    height: 42px;
  }

  &__btn-three-state {
    display: none;
    height: 42px;
  }

  &__textarea {
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    padding: 10px 15px;
    width: 100%;
    height: 100px;
    resize: none;
  }

  &__first-state {
    animation: animation 500ms ease-in-out;
  }

  &__second-state {
    animation: animation 500ms ease-in-out;
  }

  &__third-state {
    animation: animation 500ms ease-in-out;
  }

  &_one-state {
    .form {
      &__first-state {
        display: block;
      }

      &__second-state {
        display: none;
      }

      &__third-state {
        display: none;
      }
    }
  }

  &_two-state {
    .form {
      &__first-state {
        display: none;
      }

      &__second-state {
        display: block;
      }

      &__third-state {
        display: none;
      }
    }
  }

  &_three-state {
    .form {
      &__first-state {
        display: none;
      }

      &__second-state {
        display: none;
      }

      &__third-state {
        display: block;
      }

      &__btn {
        &_next {
          display: none;
        }

        &_finish {
          display: block;
        }
        border-radius: 6px;
        width: 100%;
        height: 42px;
        transition: all 300ms ease 0s;
        font-size: 16px;
        color: #fff;
        background: #f68521;

        &:hover {
          @include media-breakpoint-up(md) {
            background-color: rgb(246 133 33 / 90%);
          }
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-ms-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(246 133 33 / 80%);

    &:hover {
      background-color: rgb(246 133 33 / 100%);
    }
  }

  ::-ms-scrollbar-thumb {
    background-color: rgb(246 133 33 / 80%);

    &:hover {
      background-color: rgb(246 133 33 / 100%);
    }
  }
  width: 100%;
  height: 100%;

  @include media-breakpoint-down(md) {
    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-ms-scrollbar {
      width: 6px;
    }
  }
}

.input{
  &_active {
    input {
      padding-left: 45px;
      font-style: italic;
      transition: all 300ms ease 0s;
    }
    &::before {
      transition: all 300ms ease 150ms;
      opacity: 1;
    }
  }

  label {
    position: absolute;
    color: rgb(199 41 41);
    font-size: 12px;
    @include media-breakpoint-up(xs) {
      left: 5px;
      bottom: -18px;
    }
    @include media-breakpoint-down(xs) {
      right: 5px;
      top: -18px;
    }
  }
  .border-error{
    border: 1px solid rgb(199 41 41) ;
    border-right: 0px ;
    @include media-breakpoint-down(xs) {
      border-right: 1px solid rgb(199 41 41) ;
    }

  }

  position: relative;
  &::before {
    content: "+380";
    position: absolute;
    left: 10px; 
    top: 0;
    font-family: Roboto;
    font-style: italic;
    line-height: 44px;
    pointer-events: none;
    color: #255296;
    font-size: 14px;
    opacity: 0;
  }
}



@keyframes animation {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
