.hero {
  margin-top: 100px;
  margin-bottom: 4px;

  @include media-breakpoint-down(sm) {
    margin-top: 46px;
    margin-bottom: 84px;
  }

  &__container-second {
    position: relative;
    top: -97px;
    z-index: 2;

    @include media-breakpoint-down(sm) {
      top: 0;
    }
  }

  &__swiper-round {
    display: flex;

    svg {
      color: #fff;

    }
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease;
      z-index: 1;
      background: #fff;
      opacity: 0.2;

      @include media-breakpoint-down(my) {
        opacity: 1;
      }
    }

    &:hover {
      &::before {
        opacity: 0.4;
      }
    }
  }

  &__swiper-button-next {

    svg {
      transform: rotate(180deg);
      
    }
    right: 2%;

    @include media-breakpoint-down(xs) {
      right: 4%;
    }
  }

  &__swiper-button-prev {
    left: 2%;

    @include media-breakpoint-down(xs) {
      left: 4%;
    }
  }

  &__bg-img {
    img {
      width: 100%;
      height: clamp(550px, 50%, 191px);
      max-height: 100%;
      object-fit: cover;

      @include media-breakpoint-down(xs) {
        height: 191px;
      }
    }
  }

  &__swiper-button-prev,
  &__swiper-button-next {

    svg {
      width: 32px;
      height: 32px;

      @include media-breakpoint-down(my) {
        position: relative;
        z-index: 2;
        color: #3e7739;
      }
    }
    position: absolute;
    top: 47%;
    cursor: pointer;
    z-index: 1;

  }
}
