.hot-deals {
  margin-bottom: 100px;

  &__container {
    position: relative;
  }

  &__title-wrapper {
    position: relative;
  }

  &__title-wrapper-first {
    position: absolute;
    left: -6px;
    top: 11px;
    width: 8px !important;
    height: 13px !important;
  }

  &__text {
    img {
      width: 20px;
      height: 20px;
    }
    padding-bottom: 38px;
    text-align: center;
    font-size: 14px;
    color: #888;

    @include media-breakpoint-down(xs) {
      margin: 0 auto;
      max-width: 316px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }

  &__swiper-wrapper {
    position: relative;
  }

  &__card-wrapper {
    padding: 1px;
  }

  &__card-line-wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: 31px;
      background: #f68521;
    }
  }

  &__card-data-top {
    bottom: 56px;
  }

  &__card-place-wrapper {
    svg {
      width: 14px;
      height: 14px;
      fill: #fff;
    }
    position: absolute;
    left: 15px;
    bottom: 14px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 7px 15px 7px 8px;
    background: rgb(0 0 0 / 50%);
    gap: 10px;
  }

  &__card-place {
    font-size: 14px;
    color: #fff;
  }

  &__card-stars-wrapper {
    svg {
      width: 18px;
      height: 18px;
      fill: #f5c213;
    }
    display: flex;
  }

  &__card-wrappers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 83px;
  }

  &__card-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px 0;
  }

  &__card-prices-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__card-price-wrapper {
    display: flex;
    align-items: center;
    padding-left: 16px;
    gap: 8px;
  }

  &__card-price-new {
    span {
      font-weight: 700;
      color: #000;
    }
  }

  &__card-price-old {
    text-decoration: line-through;
    color: #bfbfbf;
  }

  &__swiper-round {
    @media (width >= 1024px) {
      &:hover {
        &::before {
          opacity: 0.4;
        }
      }
    }
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease;
      z-index: -1;
      background: #3e7739;
      opacity: 0.1;

      @include media-breakpoint-down(my) {
        background: #fff;
        opacity: 1;
      }
    }
  }

  &__swiper-button-next {
    right: -5%;

    svg {
      transform: rotate(180deg);
    }

    @include media-breakpoint-down(my) {
      right: 4%;
    }

    @include media-breakpoint-down(md) {
      right: 6%;
    }

    @include media-breakpoint-down(xs) {
      right: 10%;
    }
  }

  &__swiper-button-prev {
    left: -5%;

    @include media-breakpoint-down(my) {
      left: 4%;
    }

    @include media-breakpoint-down(md) {
      left: 6%;
    }

    @include media-breakpoint-down(xs) {
      left: 10%;
    }
  }

  &__button-wrapper {
    a {
      transition: all 0.2s ease;
      color: #555;
    }

    svg {
      width: 24px;
      height: 24px;
    }

    @media (width >= 1024px) {
      &:hover {
        a {
          color: #f68521;
        }
      }
    }
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__title {
    span {
      text-align: center;
      color: #f15d28;
    }

    svg {
      width: 35px;
      height: 35px;
      fill: rgb(241 93 40 / 100%);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: 26px;
    gap: 7px;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      margin-bottom: 14px;
      gap: 4px;
    }
  }

  &__swiper {
    margin-bottom: 36px;
    padding: 2px;

    @include media-breakpoint-down(xs) {
      margin-bottom: 23px;
    }
  }

  &__card {
    border-radius: 10px;
    width: 100%;
    height: 349px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    background: #fff;
  }

  &__card-img {
    img {
      border-radius: 10px 10px 0 0;
      height: 250px;
    }
    position: relative;
  }

  &__card-line {
    svg {
      width: 3px;
      height: 31px;
      fill: #f68521;
    }
    position: relative;
    left: -43px;
    display: flex;
  }

  &__card-line-price {
    position: relative;
    left: 102%;
    top: 50%;
    font-weight: 700;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
  }

  &__card-data-wrapper {
    svg {
      width: 14px;
      height: 14px;
      fill: #fff;
    }
    position: absolute;
    left: 15px;
    bottom: 58px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 7px 15px 7px 8px;
    background: rgb(0 0 0 / 50%);
    gap: 10px;
  }

  &__card-data {
    font-size: 14px;
    color: #fff;
  }
  position: relative;
  margin-bottom: 100px;

  &__swiper-button-prev,
  &__swiper-button-next {
    position: absolute;
    top: 54%;
    z-index: 2;
    cursor: pointer;

    svg {
      width: 32px;
      height: 32px;
      color: #3e7739;
    }
    position: absolute;
    top: 52%;
    cursor: pointer;
    z-index: 2;

    @include media-breakpoint-down(my) {
      top: 41%;
    }

    @include media-breakpoint-down(xs) {
      top: 51%;
    }
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 79px;
  }
}
