.footer {
  border-top: 1px solid rgb(0 0 0 / 10%);
  &__main {
    display: grid;
    grid-template-columns: auto minmax(20px, 67px) auto minmax(20px, 1fr) 1px minmax(20px, 64px) auto;
    grid-template-rows: auto;
    padding: 81px 0 79px;
    width: 100%;
    min-height: 441px;

    @include media-breakpoint-down(md) {
      justify-items: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 30px;
    }

    @include media-breakpoint-down(xs) {
      display: block;
      margin: 0 auto;
      max-width: 330px;
    }

    @include media-breakpoint-down(xs) {
      padding: 43px 0 32px;
    }
  }

  &__line-gap {
    grid-column: 5;
    width: 1px;
    height: 100%;
    background-color: rgb(0 0 0 / 15%);

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__bottom-line {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #f4f4f4;
  }

  &__bottom-line-text {
    margin-right: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #575757;
  }

    &__bottom-line-link {
        font-weight: 400;
        text-decoration-line: underline;
        font-size: 14px;
        color: #255296;

        @include media-breakpoint-down(xs){
            display: none;
        }
    }
  width: 100%;
  background-color: #fff;
}

.popular {
  grid-column: 1;
  &__title {
      margin-bottom: 19px;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      color: #5A5A5A;
  }

  &__main {
    display: flex;
    gap: 43px;
  }

  &__li {
    height: 35px;
    line-height: 35px;
  }

  &__link {
      display: block;
      font-weight: 400;
      transition: color 300ms ease 0s;
      font-size: 18px;
      color: #222;

      @include media-breakpoint-up(xs){
          &:hover{
              color: #F68521;
          }
      }
  }

  @include media-breakpoint-down(md) {
    grid-column: 1;
    grid-row: 1;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 58px;
    padding: 0 9px;
  }
}

.contacts {
  grid-column: 3;

  &__title {
      margin-bottom: 23px;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      color: #5A5A5A;
  }

  &__info {
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 16px;
    color: #222;

    @include media-breakpoint-down(xs) {
      margin-bottom: 23px;
    }
  }

  &__li {

      a{
          color: #255296;
      }
      display: flex;
      align-items: center;
      margin-bottom: 23px;
      height: 24px;
  }

  svg{
      margin-right: 12px;
      padding: 2px;
      width: 24px;
      height: 24px;
      fill: green;
      opacity: 0.5;
  }


  @include media-breakpoint-down(md) {
    grid-column: 2;
    grid-row: 1;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 62px;
    padding: 0 9px;
  }
}

.pictures {

    &__insta {

    img {
      margin-right: 15px;
    }

        span{
            font-weight: 400;
            font-style: normal;
            line-height: normal;
            font-size: 16px;
            color: #ED3D51;
        }
        margin: 2px 0 27px 4px;
        height: 26px;
        line-height: 26px;

    @include media-breakpoint-down(xs) {
      margin: 0 0 22px 11px;
    }
  }

  &__social-window {
    overflow: hidden;
    width: 332px;
    height: 224px;

    @include media-breakpoint-down(md) {
      margin: 0 auto;
      width: 100%;
      max-width: 500px;
    }
  }

    svg{
        display: none;
    }
    grid-column: 7;

  @include media-breakpoint-down(md) {
    grid-column: 1/3;
    grid-row: 2;
    width: 100%;
    height: 300px;
  }

  @include media-breakpoint-down(xs) {
    padding: 0;
  }
}
