.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 1);
    transition: all 300ms ease 0s;
    margin-bottom: -100px;
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 100px;
        height: 100px;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &-desktop {
            display: block;
            @include media-breakpoint-down(md){
                display: none;
            }
        }
		&-adaptive {
            display: none;
            @include media-breakpoint-down(md){
                display: block;
            }

        }
        &-link{
            position: absolute;
            top: 11px;
            left: 0px;
            @include media-breakpoint-down(md){
                top: 10px;
                img{
                    position: absolute;
                    top: 31px;
                    left: 50%;
                    transform: translateX(50%);
                    width: 48px;
                    height: 67px;
                }
            }
        }
        &::after{
            content: '';
            position: absolute;
            z-index: -1;
            top: 100px;
            left: -62px;
            width: 200px;
            height: 200px;
            background: #fff;
            clip-path: ellipse(43% 40% at 50% -18%);
            transition: all 300ms ease 0s;
        }
        &::before{
            content: '';
            position: fixed;
            top: 12px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            width: 108px;
            height: 108px;
            border-radius: 50%;
            background: #fff;
            display: none;
            @include media-breakpoint-down(md){
                display: block;
            }
        }
        @include media-breakpoint-down(md){
            position: absolute;
            top: -28px;
            left: 50%;
            transform: translateX(-50%);
            &::after{
                display: none;
            }
        }
    }
    @include media-breakpoint-down(md){
        margin-bottom: -50px;
        height: 50px;
    }
}

.menu {
    flex-grow: 1;
    max-width: 911px;
    margin-left: 30px;
    &__icon {
        display: none;
        @include media-breakpoint-down(md){
            display: block;
            position: absolute;
            left: 8px;
            top: 11px;
            padding: 5px;
            z-index: 1;
            width: 31px;
            height: 26px;
            cursor: pointer;
            &::before, &::after, span{
                content: '';
                position: absolute;
                background: #606C81;
                height: 3px;
                transition: all 300ms ease 0s;
            }
            &::before{
                top: 5px;
                width: 21.3px;
            }
            span{
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
            }
            &::after{
                bottom: 5px;
                width: 10.8px;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        @include media-breakpoint-up(md){
            flex-grow: 1;
        }
        @include media-breakpoint-down(md){
            position: fixed;
            overflow: auto;
            top: -120%;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            padding: 106px 22px  30px  22px;
            transition: all 300ms ease 0s;
            display: block;
            &::after{
                content: '';
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 50px;
                background: #fff;
                transition: all 300ms ease 100ms;
            }
            &::before{
                content: '';
                position: fixed;
                top: -15px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                width: 107px;
                height: 107px;
                border-radius: 50%;
                background: #fff;
                transition: all 300ms ease 100ms;
            }
        }
    }
    &__list {
        flex-grow: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media-breakpoint-down(md){
            display: block;
            flex-grow: 0;
        }
    }
    &__user-mobile {
        display: none;
        @include media-breakpoint-down(md){
            display: block;
            position: absolute;
            padding: 5px;
            right: 3px;
            top: 3px;
            z-index: 1;
        }
    }

    &__user-mobile-link {
        svg{
            width: 32px;
            height: 32px;
            fill: #606C81;
        }
    }

}

.top-list {
    min-height: 40px;
    margin-right: 4px;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    &__link {
        color: #666;
        font-size: 12px;
        display: flex;
        align-items: center;
        transition: all 300ms ease 0s;
        a{
            color: #666;
            font-size: 12px;
        }
        svg{
            width: 16px;
            height: 16px;
            fill: #999999;
            opacity: 0.5;
            margin-right: 8px;
        }
        &:hover{
            color: #F68521;
            a{
                color: #F68521;
            }
            svg{
                fill: #F68521;
            }
        }
        @include media-breakpoint-down(md){
            height: 28px;
            line-height: 28px;
        }

    }
    &__link-gap {
        height: 24px;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        @include media-breakpoint-down(md){
            display: none;
        }
    }
    &__link-phone {
        @include media-breakpoint-down(md){
            margin-bottom: 16px;
        }
    }
    &__link-email {
        @include media-breakpoint-down(md){
            margin: 3px 0 4px 0;
        }
    }
    &__link-user {
        svg{
            width: 24px;
            height: 24px;
            margin: 0;
        }
        @include media-breakpoint-down(md){
            display: none;
        }
    }
    &__link-avatar {
        @include media-breakpoint-down(md){
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding-top: 19px ;
            height: 55px;
        }
    }
    &__img {
        width: 20px;
        height: 20px;
        padding: 2px;
        background-color: brown;
        border-radius: 50%;
    }
    &__name {
        display: none;
        @include media-breakpoint-down(md){
            margin-left: 13px;
            display: block;
            color: #222;
            font-size: 16px;
        }
    }
    @include media-breakpoint-down(md){
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        li{
            width: 100%;
            &:nth-child(1){
                order: 2;
            }
            &:nth-child(2){
                order: 1;
            }
            &:nth-child(3){
                order: 3;
            }
            &:nth-child(5){
                order: 5;
            }
            &:nth-child(6){
                order: 4;
            }
            &:nth-child(9){
                order: 6;
            }
        }
    }
}

.bottom-list {
    order: 1;
    min-height: 60px;
    &__link-offer {
        span{
            @include media-breakpoint-up(md){
                color: #F15D28;
            }
        }
        svg{
            width: 24px;
            margin-right: 6px;
        }
    }
    &__link-timer {
        span{
            @include media-breakpoint-up(md){
                color: #F15D28;
            }
        }
        svg{
            width: 27px;
            margin-right: 5px;
        }
    }
    &__link {
        height: 30px;
        display: flex;
        align-items: center;
        color: #255296;
        font-size: 16px;
        text-transform: uppercase;
        transition: color 300ms ease 0s;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%) scale(0);
            height: 2px;
            width: 48px;
            transition: all 300ms ease 0s;
            background: #F68521;
        }
        &:hover{
            @include media-breakpoint-up(md){
                color: #F68521;
                span{
                    color: #F68521;
                }
                svg{
                    fill: #F68521;
                }
                &::after{
                    transform: translateX(-50%) scale(1);
                }
            }            
        }
        @include media-breakpoint-down(md){
            height: 38px;
        }
    }
    svg{
        height: 24px;
        fill: #F15D28;
        transition: fill 300ms ease 0s;
    }
    @include media-breakpoint-down(md){
        display: block;
        padding-bottom: 6px;
        margin-bottom: 11px;
        svg{
            display: none;
        }
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.burger-active{
    overflow: hidden;
    .menu {
        &__body {
            top: 0;
            &::after{
                box-shadow: 0px 0px 3px black;
            }
            &::before{
                box-shadow: 0px 0px 5px black;
            }
        }
        &__icon {
            &::before{
                width: 10.8px;
            }
            &::after{
                width: 21.3px;
            }
        }
    }
}

.scroll{
    .header {
        background: rgba(255, 255, 255, 0.5);
        &__logo {
            &::after{
                background: rgba(255, 255, 255, 0.5);
            }
        }
        &:hover{
            background: rgba(255, 255, 255, 1);
            .header__logo {
                &::after{
                    background: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}

