.account {
  position: relative;
  top: -100px;
  background: #fff;

  @include media-breakpoint-down(sm) {
    top: -26px;
    margin-bottom: 50px;
  }
  // .account__container

  &__container {
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      gap: 5px;
    }
  }

  &__left-wrapper {
    max-width: 314px;
    width: 100%;

    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }
  }

  // .account__left

  &__left {
    border: 1px solid #e2e2e2;
    padding: 13px;
    margin-bottom: 24px;
  }

  // .account__left-photo

  &__left-photo {
    text-align: center;
    width: 126px;
    height: 126px;
    background: #c4c4c4;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 20px;

    img {
      width: 126px;
      height: 126px;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  // .account__left-name

  &__left-name {
    text-align: center;
    font-size: 26px;
    margin-bottom: 24px;
  }

  // .account__left-order

  &__left-order {
    display: flex;
    width: 100%;
    height: 42px;
    align-items: center;
    background: transparent;
    padding: 13px;
    gap: 12px;
    margin-bottom: 5px;

    &.active {
      background: #f1efef;
      border-radius: 4px;
    }

    p {
      font-size: 18px;
    }

    svg {
      width: 24px;
      height: 16px;
    }
  }

  // .account__left-history-order

  &__left-history-order {
    display: flex;
    width: 100%;
    height: 42px;
    align-items: center;
    padding: 13px;
    gap: 15px;

    p {
      font-size: 18px;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  // .account__left-settings

  &__left-settings {
    display: flex;
    width: 100%;
    height: 42px;
    align-items: center;
    padding: 13px;
    gap: 15px;
    position: relative;

    &.active {
      background: #f1efef;
      border-radius: 4px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background: #000;
      opacity: 0.2;
      left: 0;
      bottom: -14px;
    }

    p {
      font-size: 18px;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  // .account__left-exit

  &__left-exit {
    display: flex;
    width: 100%;
    height: 42px;
    align-items: center;
    padding: 13px;
    gap: 15px;
    margin-top: 22px;

    p {
      font-size: 14px;
      color: #7d7d7d;
    }

    svg {
      width: 24px;
      height: 20px;
    }
  }

  &__polite-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__polite {
    font-size: 14px;
    color: #555555;
    cursor: pointer;
  }

  // .account__right

  &__right {
    width: 100%;
    max-width: 800px;

    &.active {
      display: none;
    }

    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }
  }

  &__right-title {
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    @include media-breakpoint-down(xxs) {
      text-align: start;
    }
  }

  &__right-table {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    max-width: 800px;

    table {
      width: 100%;

      thead {
        height: 49px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);

        th {
          font-size: 14px;
          font-weight: 700;
        }
      }

      tr {
        text-align: center;
        height: 63px;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: #e2e2e2;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__payment-success {
    border-radius: 6px;
    width: 99px;
    height: 26px;
    background: #acd4a8;
    margin: 0 auto;
    color: #3e7739;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__payment-processing {
    border-radius: 6px;
    width: 99px;
    height: 26px;
    background: #ffbf87;
    margin: 0 auto;
    color: #f68521 !important;
    font-size: 12px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }

  &__right-table-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    padding: 15px 25px 18px 14px;
  }

  &__table-bottom-left {
    p {
      color: #555;
    }
  }

  &__table-bottom-right {
    display: flex;
    gap: 21px;
    align-items: center;
  }

  &__table-bottom-button {
    color: #fff;
    border-radius: 4px;
    background: #f68521;
    padding: 4px 10px;
    font-size: 14px;
  }

  &__table-bottom-pagination {
    p {
      color: #555;
    }
  }

  &__table-pagination {
    &.active {
      position: relative;
      color: #222;
      margin: 0 10px;

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        border-radius: 4px;
        width: 28px;
        height: 26px;
        background: #c4c4c4;
        transform: translate(-50%, -50%);
        opacity: 0.5;
      }
    }
  }

  &__right-table-mobile {
    display: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 24px 20px;

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column-reverse;
      max-width: 500px;
      margin: 0 auto;
    }

    @include media-breakpoint-down(xs) {
      padding: 12px 7px;
      padding-bottom: 25px;
    }
  }

  &__table-bottom-left-mobile {
    display: flex;
    flex-direction: column-reverse;
  }

  &__settings {
    width: 100%;
    max-width: 800px;

    @include media-breakpoint-down(md) {
      margin: 0 auto;
      max-width: 580px;
    }

    &.active {
      display: none;
    }
  }

  &__settings-form {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    max-width: 580px;
    padding: 15px 25px 18px 14px;

    label {
      font-size: 14px;
      font-weight: 700;
    }

    #changeName {
      width: 79%;
      height: 60%;
      border: 1px solid #e2e2e2;
      margin-left: 6px;
      padding-left: 6px;
      font-size: 16px;
    }

    #photoChange {
      margin-left: 6px;
    }
  }

  &__settings-input {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #e2e2e2;
    }

    .just-validate-error-label {
      position: absolute;
      top: 45px;
    }
  }

  &__settings-button {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.account-mobile {
  &__table-wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 178px;
    position: relative;
    margin-bottom: 24px;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #000;
      opacity: 0.1;
    }
  }

  &__payment-success {
    border-radius: 6px;
    width: 99px;
    height: 26px;
    background: #acd4a8;
    color: #3e7739 !important;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      display: none;
    }
  }

  &__payment-processing {
    border-radius: 6px;
    width: 99px;
    height: 26px;
    background: #ffbf87;
    color: #f68521;
    font-size: 12px;
    display: none;

    &.active {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__table-left {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      gap: 13px;
    }
    p {
      font-size: 14px;
      color: #666;
    }
  }

  &__table-left-number {
    font-weight: 700;
    font-size: 14px;
    color: #666;
  }

  &__table-right {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    p {
      font-size: 16px;
      color: #222;
    }
  }

  &__table-right-number {
    font-weight: 700;
    color: #222;
  }

  &__table-bottom-right {
    justify-content: space-between;
    gap: 20px;
    margin-top: 18px;
  }
}
