.btn{
    background-color:rgba(246, 133, 33, 1) ;
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: background-color 300ms ease 0s;
    &:hover{
        background-color:rgba(246, 133, 33, 0.9) ;
    }
    &:active{
        background-color: #FFF;
        color: rgba(246, 133, 33, 1);
        border: 2px solid rgba(246, 133, 33, 1);
        font-weight: 600;
    }
    &_min{
        font-size: 12px;
    }
}

















.bnt_warp{
    height: 50px;
    margin: 30px;
    max-width: 300px;
}