#calendar {
  width: 100%;
  height: 100%;
}

// .air-datepicker {
//   background: #fff;backgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackground
//   border-radius: 10px;border-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radius
//   box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);box-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadow
//   height: 100%;heightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheight
//   overflow: auto;overflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflow
//   position: relative;positionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionposition
//   top: 100%;toptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptoptop
//   width: 100%;widthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidth

//   &--content {
//   }widthwidthwidthwidthwidthwidthwidthwidthwidth

//   &-inline- {
//     border: none;borderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborderborder
//   }

//   &-nav {align-items
//     display: flex;displaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplay
//     height: 28px;heightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheight
//     justify-content: center;justify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-content
//     margin: 10px auto;marginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmarginmargin
//     width: 180px;widthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidth

//     &--title {
//       color: #222;colorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolor
//       font-family: "Open Sans";font-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-familyfont-family
//       font-size: 16px;font-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-sizefont-size
//       font-weight: normal;font-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weightfont-weight
//       line-height: normal;line-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-heightline-height
//       text-align: center;text-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-align

//       i {
//         font-style: normal;font-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-stylefont-style
//       }

//     }

//     &--action {height
//       width: 28px;widthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidth

//       svg {height
//         width: 28px;widthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidth

//         path {
//           stroke: #222;strokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestrokestroke
//         }
//       }

//       &:hover {
//         border-radius: 2px;border-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radius
//       }
//     }
//   }

//   &-body {
//     &--cells {
//       display: grid;displaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplay
//       grid-gap: 10px 24px;grid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gapgrid-gap
//       grid-template-columns: repeat(7, 20px);grid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columnsgrid-template-columns
//       grid-template-rows: repeat(6, 20px);grid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rowsgrid-template-rows
//       margin-top: 10px;margin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-topmargin-top
//       padding: 0 15px;paddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpadding
//       width: 100%;widthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidth

//       &-days-{
//         text-align: center;text-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-aligntext-align
//       }
//     }

//     &--day {
//       &-names {
//         display: flex;displaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplay
//         justify-content: space-between;justify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-content
//         padding: 0 15px;paddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpaddingpadding
//       }
//     }
//   }

//   &-cell {align-items
//     display: flex;displaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplay
//     justify-content: center;justify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-contentjustify-content

//     &.-day {height
//       width: 20px;widthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidth

//     }

//     &.-selected-.-current- {background
//       color: #fff;colorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolor
//     }

//     &.-selected- {background
//       box-shadow: 0 3px 10px 0 rgb(247 143 31 / 50%);box-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadow
//       color: #fff;colorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolor
//     }

//     &.-range-to- {
//       background: #f68521;backgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackground
//       border-radius: 2px;border-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radius
//     }

//     &.-selected-.-focus- {background
//       color: #fff;colorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolor

//     }

//     &.-in-range- {background
//       color: #f8f8f8;colorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolor
//     }

//     &.-year-.-other-decade-,
//     &.-day-.-other-month- {
//       color: #c0c0c0;colorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolor
//     }

//     &.-focus- {background
//       box-shadow: 0 3px 10px 0 rgb(247 143 31 / 50%);box-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadow
//       color: #fff;colorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolorcolor
//     }

//     &.-current- {
//     }
//   }
// }

.search {
  &__row {
    width: 100%;
    background: #fff;

    &_top {
      border-radius: 10px 10px 0 0;
    }

    &_bottom {
      @include media-breakpoint-down(sm) {
      }

      border-radius: 0 0 10px 10px;
      padding: 15px 32px 0;
      min-height: 53px;
      box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
      transition: 0.9s ease;

      @include media-breakpoint-down(md) {
        padding: 15px;
      }
    }

    &-title {
      padding: 17px 0 11px 32px;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.9px;
      text-transform: uppercase;
    }

    &-sub {
      display: flex;
      align-items: center;
    }
  }

  &__panel {
    display: flex;

    &_bg {
      padding: 15px 32px 14px;
      width: 100%;
      box-shadow: 0 0 4px 0 rgb(0 0 0 / 15%) inset;
      background: linear-gradient(180deg, #fccb04 0%, #ee901b 100%);

      @include media-breakpoint-down(sm) {
        padding: 15px;
      }

      @include media-breakpoint-down(md) {
        padding: 15px;
      }
    }

    &-info {
      display: flex;
      border-radius: 6px 0 0 6px;
      width: 100%;
      height: 60px;
      background: #fff;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        border-radius: 6px 6px 0 0;
        height: auto;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 6px 6px 0;
      width: 100%;
      height: 60px;
      max-width: 171px;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      color: #fff;
      background: #13882d;

      svg {
        margin-right: 4px;
        width: 16px;
        height: 16px;
        fill: #fff;
      }

      @include media-breakpoint-down(md) {
        max-width: 140px;
      }

      @include media-breakpoint-down(sm) {
        border-radius: 0 0 6px 6px;
        max-width: 100%;
      }

      @include media-breakpoint-down(xs) {
        height: 48px;
      }
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 166px;
    font-weight: 400;
    font-size: 14px;
    color: #f68521;
    transition: 0.9s ease;

    svg {
      margin-right: 8px;
      width: 16px;
      height: 16px;
      fill: #f68521;
      transition: 0.9s ease;
    }

    &_act {
      max-width: 207px;
      font-size: 18px;
      color: #222;
      transition: 0.9s ease;

      svg {
        opacity: 0;
        visibility: hidden;
        transition: 0.9s ease;
      }
    }

    &-close {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 14px;
      opacity: 1;
      transition: 0.9s ease;

      svg {
        margin-right: 8px;
        width: 20px;
        height: 20px;
        fill: #f68521;
      }

      &_act {
        opacity: 0;
        visibility: hidden;
        transition: 0.9s ease;
      }
    }
  }

  &__line {
    margin: 0 21px 0 24px;
    width: 100%;
    height: 1px;
    background: #999;
    opacity: 1;
    transition: 0.9s ease;

    &_act {
      opacity: 0;
      visibility: hidden;
      transition: 0.9s ease;
    }
  }
}

.dropdown {
  position: relative;
  cursor: pointer;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8px 0 16px;

    @include media-breakpoint-down(md) {
      margin: 0 5px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: #a9a9a9;
    transition: 0.5s ease;

    &_rotate {
      transform: rotate(180deg);
    }
  }

  &__list {
    position: absolute;
    z-index: -1;
    overflow-y: auto;
    border-radius: 6px;
    width: 100%;
    height: auto;
    max-height: 0;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition:
      top,
      0.5s ease;

    &::-webkit-scrollbar {
      display: none;
    }

    &_show {
      z-index: 5;
      width: 100%;
      max-width: 100%;
      max-height: 200px;
      opacity: 1;
      visibility: visible;
      cursor: pointer;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item,
  &__current {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
  }
}

.info {
  &__destination {
    @include media-breakpoint-down(md) {
      min-width: 165px;
    }

    @include media-breakpoint-down(sm) {
      border-radius: 6px 6px 0 0;
    }
  }

  &__duration {
    &-text {
      @include media-breakpoint-down(md) {
        display: box;
        overflow: hidden;
        min-width: 100px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }

    @include media-breakpoint-down(sm) {
      border-top: none;
      border-right: 1px solid #e2e2e2;
      border-bottom: none;
      border-left: 1px solid #e2e2e2;
    }
  }

  &__date {
    &-item {
      padding: 0;
    }

    &-list,
    &-calendar {
      left: 0;
      border-radius: 12px;
      width: 314px;
      max-width: 314px;
      max-height: 250px;
      background: none;
    }

    @include media-breakpoint-down(sm) {
      border-top: 1px solid #e2e2e2;
      border-right: 1px solid #e2e2e2;
      border-bottom: none;
      border-left: 1px solid #e2e2e2;
      max-width: 100%;
    }
  }

  &__guests {
    width: 100%;
    min-width: 203px;

    &-list {
      padding: 16px;
    }

    &-item {
      margin-bottom: 16px;
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 14px;
      color: #888;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-subitem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #e2e2e2;
      border-radius: 6px;
      padding: 12px;
      width: 100%;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 16px;
      color: #222;
    }

    &-subrow {
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 71px;
    }

    &-delete {
      svg {
        width: 24px;
        height: 24px;
        fill: #f15d28;
      }
    }

    &-add {
      border: 1px solid #f68521;
      border-radius: 6px;
      width: 100%;
      height: 42px;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 16px;
      color: #222;
    }

    &-item,
    &-subrow {
      display: flex;
    }

    &-minus,
    &-plus {
      svg {
        width: 14px;
        height: 14px;
        fill: #f68521;
        fill-opacity: 0.5;
      }
    }

    @include media-breakpoint-down(md) {
      min-width: 195px;
    }

    @include media-breakpoint-down(sm) {
      border: 1px solid #e2e2e2;
      height: 71px;
      max-width: 100%;
    }
  }

  &__destination,
  &__duration,
  &__date {
    border-right: 1px solid #e2e2e2;
    width: 100%;
    height: 100%;
    max-width: 259px;

    &-text {
      padding: 9px 0 5px 16px;
      font-weight: 400;
      font-size: 13px;
      line-height: 100%;
      color: #c0c0c0;

      @include media-breakpoint-down(md) {
        padding: 9px 0 4px 5px;
      }
    }

    @include media-breakpoint-down(sm) {
      border: 1px solid #e2e2e2;
      height: 71px;
      max-width: 100%;
    }
  }

  &__duration,
  &__date {
    max-width: 180px;

    @include media-breakpoint-down(md) {
      max-width: 160px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }
}

.category {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  &__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 14px;
    color: #000;
  }

  &__btns {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #222;

    svg {
      margin-right: 8px;
      width: 16px;
      height: 16px;
      fill: #cecece;
    }

    &-stars {
      &_act {
        svg {
          fill: #f5c213;
        }
      }

      svg {
        margin-right: 4px;
        fill: #ffe489;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-flat {
      margin-bottom: 36px;

      &_act {
        svg {
          fill: #f5c213;
        }
      }

      svg {
        margin-right: 8px;
      }
    }

    &-meal,
    &-lineup,
    &-departure,
    svg {
      margin-right: 8px;
      fill: #cecece;
    }
  }

  &-meal {
    &:last-child {
      margin-bottom: 0;
      text-align: left;

      @include media-breakpoint-down(md) {
        min-width: 170px;
      }
    }
  }

  &-regions {
    text-wrap: nowrap;
  }

  &__rating {
    &-meal {
      margin-bottom: 25px;
    }

    @include media-breakpoint-down(md) {
      min-width: 170px;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: space-between;
    }

    @include media-breakpoint-down(xs) {
      display: flex;
      flex-direction: column;
    }
  }

  &__fly {
    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: space-between;
    }

    @include media-breakpoint-down(xs) {
      display: flex;
      flex-direction: column;
    }
  }

  &__price {
    @include media-breakpoint-down(sm) {
      margin-right: 20px;
    }
  }

  &__slider {
    position: relative;
    margin-top: 46px;
    width: 231px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: -8px;
      top: 50%;
      width: 18px;
      height: 100%;
      background: #cecece;
      transform: translateY(-50%) rotate(-90deg);
    }

    &::after {
      left: auto;
      right: -8px;
    }

    @include media-breakpoint-down(md) {
      width: 188px;
    }

    @include media-breakpoint-down(xs) {
      margin-left: 20px;
      width: 231px;
    }
  }

  &__regions {
    &-item {
      display: grid;
      grid-column-gap: 135px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      &_change {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
      }

      @include media-breakpoint-down(md) {
        grid-column-gap: 20px;
      }

      @include media-breakpoint-down(sm) {
        grid-column-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
      }

      @include media-breakpoint-down(xs) {
        grid-template-columns: repeat(1, 1fr);
        overflow: auto;
        height: 114px;
      }
    }

    &-current {
      position: relative;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 40px;
    }
  }

  &__lineup,
  &__departure {
    margin-bottom: 32px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.noUi-target {
  display: block;
  border: none !important;
  border-radius: 0;
  background: #cecece !important;
}

.noUi-horizontal {
  height: 3px !important;
}

.noUi-connect {
  width: 210px !important;
  height: 100% !important;
  background: #f68521 !important;
}

.noUi-horizontal .noUi-origin {
  width: 210px !important;
}

.noUi-horizontal .noUi-handle {
  right: 0 !important;
  top: -8px !important;
  border-radius: 50% !important;
  width: 20px !important;
  height: 20px !important;
  box-shadow: 0 3px 10px 0 rgb(247 143 31 / 50%) !important;
  background: #f68521 !important;

  &::after,
  &::before {
    display: none !important;
  }
}

.noUi-tooltip {
  border: none !important;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #222 !important;
}

.noUi-marker-horizontal.noUi-marker {
  display: none;
}

.noUi-pips-horizontal {
  padding: 0 !important;
}
