@import "./../style";
// *{
//    outline: 1px solid red;
// }
.error {
  margin-top: 101px;
  background-image: url(../../images/404/404.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // height:clamp(689px, 100vh,68vh);
  height: 689px;

&__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


  &__title {
    color: #fff;
    text-align: center;
    font-weight: 700;
    // line-height: normal;
    font-size: clamp(26px, 9vw, 84px);
    margin: 0 0 13px;
  }
  &__text {
    color: #fff;    
    text-align: center;
    font-size: 24px;
    margin-bottom: 46px;
    // line-height: normal;

    &_sub {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
  &__list {
    width: 181px;
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  &__link {
    color: #fff;
    text-align: center;
    font-size: 16px;
    // line-height: normal;
    text-decoration-line: underline;
  }
}
