@import "./../style";

.error {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
  }

  &__title {
    margin: 0 0 13px;
    font-weight: 700;
    text-align: center;
    font-size: clamp(26px, 9vw, 84px);
    color: #fff;
  }

  &__text {

    &_sub {
      margin-bottom: 15px;
      font-size: 14px;
    }
    margin-bottom: 46px;
    text-align: center;
    font-size: 24px;
    color: #fff;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 181px;
    height: 172px;
  }

  &__link {
    text-align: center;
    text-decoration-line: underline;
    font-size: 16px;
    color: #fff;
  }
  margin-top: 101px;
  height: 689px;
  background-image: url("./src/images/404/404.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
