@import "./../style";
@import "../libs/swiper";
@import "../main/hero";
@import "../main/main-company";
@import "../main/hot-deals";
@import "../main/winter-tour";
@import "../main/summer-tour";
@import "../components/ui/offer";

