@import "./../style";
@import "./../components/ui/find";
@import "./../components/ui/offer";
@import "./../config/media-breakpoints";
@import "../libs/swiper.scss";

.banner {
  background-image: url(../../../src/images/banner.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
  position: relative;
  margin-top: 100px;

  &__oval {
    width: 100%;
    position: absolute;
    bottom: 0;
    img {
      width: 100%;
      height: auto;
    }

    // min-height: 100%;
    // height: auto;
    // svg {
    //    width: 100%;
    //    height: 100%;

    //    // min-height: 100%;
    //    // height: auto;
    // }
  }
}

// .tour{
//    position: relative;
// }

.result {
  &__slider {
    border-radius: 8px;
    overflow: hidden;
    max-width: 380px;
    width: 100%;
    height: 250px;
    position: relative;
  }

  &__swiper,
  &__wrapper {
    display: flex;
    height: 100%;
  }

  &__slide {
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__btn-next,
  &__btn-prev {
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.2);
    z-index: 50;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    svg {
      width: 24px;
      height: 24px;
      fill: #fff;
    }
  }

  &__btn-next {
    left: auto;
    right: 10px;
    transform: rotate(-90deg);
  }
  &__hotel,
  &__row {
    display: flex;
  }
  &__hotel{
    padding: 40px 0;
    border-top: 1px solid #E2E2E2;
    &:last-child{
      border-bottom: 1px solid #E2E2E2;
    }
  }
  &__info {
    margin-left: 40px;
    &-title {
      color: #222;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 12px;
    }

    &-location {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border: 1px solid #E2E2E2;
      border-radius: 8px;
      width: fit-content;
      margin-bottom: 16px;
      svg {
        fill: #3e7739;
        fill-opacity: 0.5;
        width: 10px;
        height: 15px;
      }
    }

    &-country,
    &-region {
      color: #222;
      font-size: 14px;
      font-weight: 400;
      margin-left: 9px;
      width: fit-content;
    }

    &-descript {
      color: #666;
      font-size: 14px;
      font-weight: 400;
      max-width: 294px;
      width: 100%;
      height: 95px;
      min-width: 100px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
      margin-bottom: 50px;
    }

    &-link {
      display: flex;
      align-items: center;
      color: #555;
      font-size: 16px;
      font-weight: 400;

      svg {
        margin-left: 8px;
        width: 24px;
        height: 24px;
        fill: #f68521;
      }
    }
  }

  &__rating{
    margin-left: 40px;
    &-star{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: fit-content;
      margin-bottom: 24px;
      svg{
        width: 18px;
        height: 18px;
        fill: #F5C213;
      }
    }
    &-duration,
    &-meal,
    &-room,
    &-beach{
      display: flex;
      align-items: center;
      color: #222;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 24px;
      svg{
        width: 18px;
        height: 18px;
        fill:  #3E7739;
        fill-opacity: 0.5;
        margin-right: 18px;
      }
    }
  }

  &-price{
    &-num{
      color: #222;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 12px;
    }
  }
}
