@import './../style';
@import './../components/ui/find';
@import './../components/ui/offer';
@import './../config/media-breakpoints';
@import '../libs/swiper';

.banner {
  &__oval {
    img {
      width: 100%;
      height: auto;
    }
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__oval {
    img {
      width: 100%;
      height: auto;
    }
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  position: relative;
  margin-top: 100px;
  height: 320px;
  background-image: url('./../../images/banner.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.result {
  &__slider {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 100%;
    height: 250px;
    max-width: 380px;

    @include media-breakpoint-down(md) {
      height: 450px;
      max-width: 100%;
    }

    @include media-breakpoint-down(xs) {
      height: 350px;
    }

    @include media-breakpoint-down(xs) {
      height: 350px;
      @include media-breakpoint-up(xxs) {
        height: 280px;
      }
    }

    @include media-breakpoint-down(xxs) {
      height: 200px;
    }
  }

  &__slide {
    img {
      @include media-breakpoint-down(md) {
      }
      width: 100%;
      height: 100%;
    }
  }

  &__btn-next {
    left: auto;
    right: 10px;
    transform: rotate(-90deg);
  }

  &__hotel {
    margin: 40px 0 0px;
    border-top: 1px solid #e2e2e2;
    padding: 40px 0 0;

    &:first-child,
    &:last-child {
      border: none;
    }

    &:last-child {
      border-bottom: 1px solid #e2e2e2;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__info {
    &-title {
      @include media-breakpoint-down(sm) {
      }
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 18px;
      color: #222;
    }

    &-location {
      svg {
        width: 10px;
        height: 15px;
        fill: #3e7739;
        fill-opacity: 0.5;
      }
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      border: 1px solid #e2e2e2;
      border-radius: 8px;
      padding: 5px 10px;
      width: fit-content;
    }

    &-descript {
      display: box;
      overflow: hidden;
      margin-bottom: 50px;
      width: 100%;
      height: 95px;
      min-width: 100px;
      max-width: 294px;
      font-weight: 400;
      -webkit-box-orient: vertical;
      font-size: 14px;
      color: #666;
      -webkit-line-clamp: 5;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
        height: auto;
        max-width: 100%;
      }
    }

    &-link {
      svg {
        margin-left: 8px;
        width: 24px;
        height: 24px;
        fill: #f68521;
      }
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      color: #555;
      @include media-breakpoint-down(sm) {
        position: absolute;
        right: 0;
        top: 0;
      }
      @include media-breakpoint-down(xs) {
        font-size: 0;
      }
    }
    margin-left: 40px;

    &-country,
    &-region {
      margin-left: 9px;
      width: fit-content;
      font-weight: 400;
      font-size: 14px;
      color: #222;
    }
    @include media-breakpoint-down(my) {
      margin-left: 20px;
      max-width: 240px;
    }
    @include media-breakpoint-down(md) {
      margin-left: 0px;
    }

    @include media-breakpoint-down(sm) {
      position: relative;
      max-width: 100%;
    }
  }

  &__rating {
    &-subitem {
      @include media-breakpoint-down(xs) {
        display: grid;
        grid-column-gap: 100px;
        grid-template-columns: 1fr 1fr;
      }
      @include media-breakpoint-down(xxs) {
        grid-column-gap: 15px;
      }
    }

    &-star {
      svg {
        width: 18px;
        height: 18px;
        fill: #f5c213;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      width: fit-content;
    }

    &-duration {
      @include media-breakpoint-down(xs) {
      }
    }
    display: flex;
    margin-left: 40px;

    &-duration,
    &-meal,
    &-room,
    &-beach {
      svg {
        margin-right: 18px;
        width: 18px;
        height: 18px;
        fill: #3e7739;
        fill-opacity: 0.5;
      }
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      font-weight: 400;
      font-size: 14px;
      color: #222;
    }
    @include media-breakpoint-down(my) {
      margin-left: 20px;
    }

    @include media-breakpoint-down(md) {
      display: grid;
      grid-template-columns: 3fr 2fr;
    }
    @include media-breakpoint-down(sm) {
      display: grid;
      grid-template-columns: 3fr 1fr;
      margin-left: 0;
    }
    @include media-breakpoint-down(xs) {
      display: flex;
      flex-direction: column;
    }
  }

  &__price {
    &-num {
      span {
        &:nth-child(2) {
          font-weight: 700;
          font-size: 24px;
          color: #000;
        }
        &:nth-child(3) {
          font-size: 24px;
        }
      }
      margin-bottom: 12px;
      font-weight: 400;
      text-align: center;
      font-size: 18px;
      color: #222;
    }

    &-btn {
      &_act {
        border: 1px solid #f68521;
        background: #fff;
        color: #222;
      }
      border: transparent;
      border-radius: 6px;
      width: 160px;
      height: 42px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      background: #f68521;
      font-size: 14px;
      color: #fff;
      &:active {
        border: 1px solid #f68521;
        background: #fff;
        color: #222;
      }
      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    border-radius: 10px;
    max-width: 200px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

    @include media-breakpoint-down(my) {
      margin-left: 20px;
    }
    @include media-breakpoint-down(xs) {
      margin-left: 0;
      max-width: 100%;
    }
  }

  &__btn-next {
    left: auto;
    right: 10px;
    transform: rotate(-90deg);
  }

  &__row {
    justify-content: space-between;
    width: 100%;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__header {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      font-weight: 400;
      font-size: 24px;
      color: #222;
    }

    &-text {
      font-weight: 400;
      font-size: 14px;
      color: #555;
      margin: 0 12px 0 28px;
    }

    &-select,
    &-subselect {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 149px;
      height: 42px;
      border: 1px solid #e2e2e2;
      border-radius: 6px;
    }

    &-subselect {
      width: 200px;
      margin-left: 10px;
    }

    &-row,
    &-subrow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &-item,
    &-sort,
    &-subitem {
      display: flex;
      align-items: center;
    }

    &-sort {
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 14px;
      color: #f68521;
      width: 201px;
      height: 42px;
      border: 1px solid #f68521;
      text-align: center;
      border-radius: 6px;
      padding: 0 13px 0 17px;

      img {
        display: block;
      }
    }

    &-slide {
      margin-top: 35px;
      width: 258px !important;
      // height: 278px !important;
      .air-datepicker {
        height: 278px;
      }

      .air-datepicker-nav {
        border: none;
      }

      .air-datepicker-body--day-name {
        font-weight: 400;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: #222;
      }

      .air-datepicker-nav--action {
        display: none;
      }
      .air-datepicker-nav--action {
      }
      .air-datepicker-nav--title {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        width: 100%;
        color: #222;
      }

      .air-datepicker-body--cells {
        margin-top: 16px;
        grid-template-columns: repeat(7, var(--adp-day-cell-width));
      }
    }
  }
  margin-bottom: 80px;

  &__swiper,
  &__wrapper {
    display: flex;
    height: 100%;
  }

  &__btn-next,
  &__btn-prev {
    svg {
      width: 24px;
      height: 24px;
      fill: #fff;
    }
    position: absolute;
    left: 10px;
    top: 50%;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transform: rotate(90deg);
    z-index: 50;
    background: rgb(0 0 0 / 20%);
  }

  &__hotel,
  &__row {
    display: flex;
  }
}

.table {
  &_act {
    display: none;
    animation: scale-up-ver-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  &__thead {
    height: 50px;
  }
  &__th {
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    color: #666;

    @include media-breakpoint-down(xs) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 12px;
    }
  }

  &__tbody {
  }

  &__td {
    position: relative;
    font-weight: 400;
    text-align: left;
    font-size: 16px;
    color: #222;
    &:last-child {
      text-align: center;
      @include media-breakpoint-down(xs) {
        height: 30px;
        max-width: 100%;
      }
    }

    @include media-breakpoint-down(xs) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__link {
    border: transparent;
    border-radius: 6px;
    width: 100%;
    height: 42px;
    max-width: 160px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 14px;
    color: #fff;
    background: #f68521;

    @include media-breakpoint-down(xs) {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  &__line {
    margin: 12px 0;
    width: 100%;
    height: 1px;
    background: #e2e2e2;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  overflow: hidden;
  border-radius: 10px 0 10px 10px;
  padding: 18px 22px 10px 25px;
  width: 100%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  background: #f4f6fa;
  &__sub-tbody,
  &__sub-td {
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    padding: 10px;
  }

  @include media-breakpoint-down(xs) {
    display: flex;
    justify-content: space-between;
  }
}

@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

@keyframes scale-up-ver-bottom {
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
