@import "./../style";
@import "./../components/ui/find";
@import "./../components/ui/offer";
@import "./../config/media-breakpoints";
@import "../libs/swiper";

.banner {
  position: relative;
  margin-top: 100px;
  height: 320px;
  background-image: url("../../../src/images/banner.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__oval {
    position: absolute;
    bottom: 0;
    width: 100%;




    img {
      width: 100%;
      height: auto;
    }

  }
}



.result {
  &__slider {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
    height: 250px;
    max-width: 380px;
  }

  &__slide {
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__btn-next {
    left: auto;
    right: 10px;
    transform: rotate(-90deg);
  }

  &__hotel{
    border-top: 1px solid #E2E2E2;
    padding: 40px 0;

    &:last-child{
      border-bottom: 1px solid #E2E2E2;
    }
  }

  &__info {
    margin-left: 40px;

    &-title {
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 18px;
      color: #222;
    }

    &-location {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      border: 1px solid #E2E2E2;
      border-radius: 8px;
      padding: 5px 10px;
      width: fit-content;

      svg {
        width: 10px;
        height: 15px;
        fill: #3e7739;
        fill-opacity: 0.5;
      }
    }

    &-descript {
      display: box;
      overflow: hidden;
      margin-bottom: 50px;
      width: 100%;
      height: 95px;
      min-width: 100px;
      max-width: 294px;
      font-weight: 400;
      font-size: 14px;
      color: #666;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
    }

    &-link {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      color: #555;

      svg {
        margin-left: 8px;
        width: 24px;
        height: 24px;
        fill: #f68521;
      }
    }

    &-country,
    &-region {
      margin-left: 9px;
      width: fit-content;
      font-weight: 400;
      font-size: 14px;
      color: #222;
    }
  }

  &__rating{
    margin-left: 40px;

    &-star{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      width: fit-content;

      svg{
        width: 18px;
        height: 18px;
        fill: #F5C213;
      }
    }

    &-duration,
    &-meal,
    &-room,
    &-beach{
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      font-weight: 400;
      font-size: 14px;
      color: #222;

      svg{
        margin-right: 18px;
        width: 18px;
        height: 18px;
        fill:  #3E7739;
        fill-opacity: 0.5;
      }
    }
  }

  &-price{
    &-num{
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 18px;
      color: #222;
    }
  }

  &__swiper,
  &__wrapper {
    display: flex;
    height: 100%;
  }

  &__btn-next,
  &__btn-prev {
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 50;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: rgb(0 0 0 / 20%);
    transform: rotate(90deg);
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      fill: #fff;
    }
  }

  &__hotel,
  &__row {
    display: flex;
  }
}
