@import "./../style";

.info {

  &__title {

    &_sub {
      margin: 0 auto 16px;
      width: 100%;
      max-width: 900px;
      text-align: left;
      font-size: 18px;
    }
    margin-bottom: 32px;
    font-weight: 700;
    text-align: center;
    font-size: 36px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto 100px;
    width: 100%;
    min-height: 832px;
    max-width: 900px;
  }

  &__item {
    font-weight: 400;
    line-height: 2;
    font-size: 16px;
  }
  margin-top: 170px;
}
