.authorization {
  position: relative;
  height: 900px;
  &__bg {
    margin-top: 101px;
    height: 800px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__form {
    max-width: 427px;
    min-height: 736px;
    margin: 0 auto;
    padding-top: 218px;
    margin-bottom: 10px;
  }

  &__form-wrapper {
    padding: 32px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &__form-title {
    font-size: 14px;
    color: #555;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 33px;
  }

  &__form-btn-facebook {
    border-radius: 6px;
    background: #395185;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 42px;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
    transition: all 0.3s ease;

    @include media-breakpoint-up(md) {
      &:hover {
        background: #132b60;
        color: #dab7b7;
      }
    }

    img {
      position: absolute;
      left: 11px;
    }
  }

  &__form-btn-google {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 42px;
    position: relative;
    text-align: center;
    color: #222;
    margin-bottom: 32px;
    transition: all 0.3s ease;

    @include media-breakpoint-up(md) {
      &:hover {
        background: #dab7b7;
        color: #132b60;
      }
    }

    img {
      position: absolute;
      left: 11px;
    }
  }

  &__form-text {
    font-size: 14px;
    color: #555;
    position: relative;
    text-align: center;
    margin-bottom: 28px;

    &::after {
      position: absolute;
      content: "";
      width: 124px;
      height: 1px;
      background: #cacaca;
      top: 50%;
      left: 26px;

      @include media-breakpoint-down(xs) {
        width: 93px;
        left: 16px;
      }
    }

    &::before {
      position: absolute;
      content: "";
      width: 124px;
      height: 1px;
      background: #cacaca;
      top: 50%;
      right: 26px;

      @include media-breakpoint-down(xs) {
        width: 93px;
        right: 16px;
      }
    }
  }

  &__form-input {
    p {
      font-size: 13px;
      color: #888;
      padding-left: 12px;
      margin-bottom: 8px;
    }
    input {
      width: 100%;
      height: 42px;
      border: 1px solid #e2e2e2;
      border-radius: 6px;
      padding: 10px;
    }
  }

  &__form-input-mail {
    position: relative;

    .just-validate-error-label {
      position: absolute;
      bottom: -8px;
      left: 4px;
      font-size: 14px;
    }
  }

  &__form-input-password {
    position: relative;

    .just-validate-error-label {
      position: absolute;
      bottom: -17px;
      left: 4px;
      font-size: 14px;
    }
  }

  &__form-input-text {
    display: flex;
    justify-content: space-between;

    a {
      font-size: 13px;
      text-decoration: underline;
      padding-right: 8px;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 13px;

    a {
      width: 100%;
    }
  }

  &__btn-entry {
    border: 1px solid #f68521;
    border-radius: 6px;
    width: 100%;
    max-width: 175px;
    height: 42px;
    text-transform: uppercase;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    @include media-breakpoint-up(md) {
      &:hover {
        color: #fff;
        background: #f68521;
      }
    }

    @include media-breakpoint-down(xs) {
        font-size: 14px;
      }
  }

  &__btn-registration {
    max-width: 175px;
    height: 42px;
  }

  &__policy {
    text-decoration: underline;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease;

    @include media-breakpoint-up(md) {
      &:hover {
        color: #dab7b7;
      }
    }
  }
}

#authorizationMail {
  margin-bottom: 7px;
}

#authorizationPasswordText {
  margin-bottom: 28px;
}
