.similars {

    &__title {
        margin-bottom: 38px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-size: 26px;

        @include media-breakpoint-down(sm){
            margin-bottom: 38px;
            font-weight: 700;
        }
    }

    &__slider {
        width: 100%;
        user-select: none;

        @include media-breakpoint-down(xs){
            max-width: 80vw;
        }

        @include media-breakpoint-down(xxs){
            max-width: 100%;
        }
    }
    margin-bottom: 97px;
}

.slide {

    &__image {
        position: relative;
        grid-row: 1;
        height: 100%;
    }

    &__img {

        img{
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
        height: 100%;
    }

    &__tag {

        svg{
            margin-right: 6.4px;
            width: 14px;
            height: 14px;
            fill: #fff;
        }
        position: absolute;
        left: 14px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 6px 6px 7px;
        font-size: 14px;
        color: #FFF;
        background: rgb(0 0 0 / 50%);
    }

    &__tag-date {
        bottom: 54px;
        cursor: default;

        @include media-breakpoint-down(sm){
            display: none;
        }
    }

    &__tag-location {
        bottom: 14px;
        transition: background-color 300ms ease 0s;

        &:hover{
            background: rgb(0 0 0 / 100%);
        }

    }

    &__info {
        grid-row: 2;
        padding: 14px 16px 16px;
        background: #fff;

        @include media-breakpoint-down(sm){
            padding: 14px;
        }
    }

    &__row {
        display: flex;
        align-items: center;
    }


    &__row-one {
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__title {
        position: relative;
        overflow: hidden; /* Скрытие лишнего текста, который не помещается в контейнер */
        max-width: 230px;
        text-overflow: ellipsis;
        white-space: nowrap; /* Запрет переноса текста на новую строку */
        cursor: pointer;

        &::after{
            content: '';
            position: absolute;
            left: 50%;
            bottom: 1px;
            width: 98%;
            height: 1px;
            transform: translateX(-50%) scaleX(0) ;
            transition: transform 150ms ease 0s;
            background:#222 ;
        }

        &:hover{
            @include media-breakpoint-up(md){
                &::after{
                    transform: translateX(-50%) scaleX(1);
                }
            }
        }

    }

    &__stars {

        svg{
            width: 18px;
            height: 18px;
            fill: #F5C213;
        }
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__row-two {
        position: relative;
        height: 31px;
        gap: 8px;
    }

    &__price {
        span{
            font-weight: 700;
        }

        @include media-breakpoint-down(xxs){
            order: 2;   
        }
    }

    &__old-price {
        text-decoration-line: strikethrough;
        font-size: 14px;
        color: #BFBFBF;
    }

    &__sale {

        svg{
            position: absolute;
            right: 0;
            top: 0;
            width: 83px;
            height: 31px;
        }

        span{
            position: relative;
            z-index: 1;
        }
        position: absolute;
        right: -16px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 31px;
        font-weight: 700;
        font-size: 16px;
        color: #FFF;
    }
    display: grid;
    flex-direction: column;
    grid-template: 1fr auto / auto;
    overflow: hidden;
    border-radius: 10px;
    max-height: 349px;
    aspect-ratio: 0.947/1;
    
    @include media-breakpoint-down(md){
        max-height: 100%;
    }
}
