<<<<<<< HEAD
.top-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 421px;

=======
.top-img {overflow
    width: 100%;HEADpositionHEADpositionwidthwidthHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionHEADpositionwidthwidthHEADpositionHEADpositionwidthwidthHEADpositionheightwidthheightHEADpositionwidthwidthHEADpositionHEADpositionHEADpositionHEADpositionHEADposition
    overflow: hidden;heightheightoverflowoverflowheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightoverflowoverflowheightheightoverflowoverflowheightoverflowoverflowwidthheightheightoverflowwidthheightheight
<<<<<<< HEAD
    position: relative;widthwidthHEADpositionHEADpositionwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthHEADpositionHEADpositionwidthwidthHEADpositionHEADpositionwidthwidthHEADpositionHEADpositionwidthoverflowHEADpositionoverflowwidthwidthwidth
    height: 421px;

overflowoverflow

heightheight

overflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflow

overflowoverflow

overflowoverflow

overflowoverflow

heightheight

overflowoverflow

heightheight

overflowheadposition

heightoverflow

overflowheadposition

heightheight

overflowoverflow

overflowheadposition

    &__bg{
        &-img {
            position: absolute;
            top: -14px;
            z-index: -1;
            width: 100%;

            img{
                width: 100%;
                min-height: 430px;
                object-fit: cover;

                @include media-breakpoint-down(sm){
                    min-height: 255px;
                }
            }
        }

        &-bottom{position
  overflow: hidden;overflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowoverflowheightoverflowwidthoverflowoverflowoverflowheightheight
=======
  position: relative;positionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionpositionoverflowpositionoverflowpositionheightpositionpositionoverflowoverflowoverflow
  width: 100%;widthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthpositionwidthpositionwidthoverflowwidthwidth
  height: 421px;

heightheight

heightheight

heightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheightheight

heightheight

heightheight

heightheight

heightheight

heightheight

heightheight

heightheight

positionheight

heightheight

widthheight

widthposition

positionposition

            svg{
                position: absolute;
                left: 50%;
                bottom: -1px;
                z-index: 1;
                width: 1367px;
                height: 56px;
                transform: translateX(-50%);
            }

>>>>>>> artem-dev
  &__bg {
    &-img {
      position: absolute;
      top: -14px;
      z-index: -1;
      width: 100%;
      min-height: 430px;

      img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;

        @include media-breakpoint-down(sm) {
          height: 100%;
          min-height: 255px;
          max-width: 100%;
        }
      }

      @include media-breakpoint-down(sm) {
        min-height: 255px;
      }
    }

<<<<<<< HEAD
=======
<<<<<<< head
    &__hotel{
        &-info {
            position: absolute;
            bottom: 41px;
            z-index: 2;
            border-radius: 8px;
            padding: 12px 19px 13px;
            height: 85px;
            min-width: 304px;
            color: #222;
            background: #FFF;
            transition: transform 300ms ease 0s;
            cursor: pointer;

            &:hover{
                @include media-breakpoint-up(md){
                    transform: scale(1.01);
                }
            }

=======
>>>>>>> artem-dev
    &-bottom {
      svg {
        position: absolute;
        left: 50%;
        bottom: -1px;
        z-index: 1;
        width: 1367px;
        height: 56px;
        transform: translateX(-50%);
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
<<<<<<< HEAD
=======

            @include media-breakpoint-down(xs){
                bottom: 17px;
                padding: 10px 21px 13px;
                height: 74px;
            }

            @include media-breakpoint-down(xxs){
                min-width: auto;
                max-width: 86vw;
            }
>>>>>>> artem-dev
  }

  &__hotel {
    &-info {
      position: absolute;
      bottom: 41px;
      z-index: 2;
      border-radius: 8px;
      padding: 12px 19px 13px;
      height: 85px;
      min-width: 304px;
      color: #222;
      background: #fff;
      transition: transform 300ms ease 0s;
      cursor: pointer;

      &:hover {
        @include media-breakpoint-up(md) {
          transform: scale(1.01);
<<<<<<< HEAD
=======
>>>>>>> e1cf23eb36efb06597f9d43799c83213e8fff14c
>>>>>>> artem-dev
        }
      }

      @include media-breakpoint-down(xs) {
        bottom: 17px;
        padding: 10px 21px 13px;
        height: 74px;
      }

      @include media-breakpoint-down(xxs) {
        min-width: auto;
        max-width: 86vw;
      }
    }

    &-main {
      display: flex;
      margin-bottom: 6px;

      @include media-breakpoint-down(xs) {
        margin: 0;
      }
    }

    &-name {
      font-weight: 700;
      font-size: 26px;

      @include media-breakpoint-down(xs) {
        overflow: hidden;
        max-width: 200px;
        line-height: 32px;
      }
    }

<<<<<<< HEAD
    &-stars {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 0 4px 12.8px;

      &::after {
        content: "+";
        position: absolute;
        right: -9px;
        top: -2px;
        font-weight: 700;
        color: #f5c213;

        @include media-breakpoint-down(xs) {
          right: -8px;
          top: -5px;
        }
      }

      svg {
        margin-right: 4px;
        width: 18px;
        height: 18px;
        fill: #f5c213;
      }

      @include media-breakpoint-down(xs) {
        margin: 0 0 10px 10px;
      }
    }
=======
<<<<<<< head
        &-stars {
            position: relative;
            display: flex;
            align-items: center;
            margin: 0 0 4px 12.8px;

            &::after{
                content: "+";
                position: absolute;
                right: -9px;
                top: -2px;
                font-weight: 700;
                color: #F5C213;

                @include media-breakpoint-down(xs){
                    right: -8px;
                    top: -5px;
                }
            }

            svg{
                margin-right: 4px;
                width: 18px;
                height: 18px;
                fill: #F5C213;
            }
>>>>>>> artem-dev

    &-location {
      display: flex;
      align-items: center;

      svg {
        margin-right: 9px;
        width: 10.124px;
        height: 14.628px;
        fill: #3e7739;
        opacity: 0.5;
      }
    }

    &-sity {
      font-size: 14px;
      white-space: nowrap;
      color: #222;

      @include media-breakpoint-down(xs) {
        overflow: hidden;
        max-width: 280px;
      }
    }
<<<<<<< HEAD
  }

  @include media-breakpoint-down(sm) {
    height: 239px;
  }
}
=======
<<<<<<< HEAD
    
    @include media-breakpoint-down(sm){
        height: 239px;
    }

=======
    &-stars {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 0 4px 12.8px;

      &::after {
        content: "+";
        position: absolute;
        right: -9px;
        top: -2px;
        font-weight: 700;
        color: #f5c213;

        @include media-breakpoint-down(xs) {
          right: -8px;
          top: -5px;
>>>>>>> e1cf23eb36efb06597f9d43799c83213e8fff14c
        }
      }

      svg {
        margin-right: 4px;
        width: 18px;
        height: 18px;
        fill: #f5c213;
      }

      @include media-breakpoint-down(xs) {
        margin: 0 0 10px 10px;
      }
    }

            @include media-breakpoint-down(xs){
                margin: 0 0 10px 10px;
            }
=======
  }
>>>>>>> e1cf23eb36efb06597f9d43799c83213e8fff14c
}
}}

            @include media-breakpoint-down(sm){
                display: none;
            }

  @include media-breakpoint-down(sm) {
    height: 239px;
  }}}}
>>>>>>> artem-dev
