.main-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    &__column {}
    @include media-breakpoint-down(sm) {
        display: block;
        margin-bottom: 32px;
    }
}
.contact {
    margin: 24px 0 0 0;
    max-width: 370px;
    width: 100%;

    @include media-breakpoint-down(sm) {
        width: unset;
        max-width: 100%;
        margin: 22px 15px 0;
    }

    @include media-breakpoint-down(xs) {
        margin: 22px 5px 0;
    }

    @include media-breakpoint-down(xxs) {
        margin: 36px 0 29px;
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 16px;

        @include media-breakpoint-down(sm) {
            text-align: center;
        }

        @include media-breakpoint-down(xxs) {
            text-align: left;
            margin-bottom: 17px;
        }
    
    }

    &__title-two {
        font-size: 18px;
        margin-bottom: 16px;

        @include media-breakpoint-down(sm) {
            text-align: center;
        }

        @include media-breakpoint-down(xxs) {
            text-align: left;
        }
    }

    &__info {
        line-height: 22px;
        opacity: 0.5;
        margin-bottom: 32px;
    }
    &__campany-name {
        font-weight: 700;
        line-height: 22px;
        margin-bottom: 32px;
    }
    &__list {

    }
    &__li {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        a {
          color: #255296;
        }
      }
    
      svg {
        margin-right: 12px;
        padding: 2px;
        width: 24px;
        height: 24px;
        fill: green;
        opacity: 0.5;
      }
    &__li-text {}
    &__li-mail {}
    &__li-phones {}
}
.form {
    max-width: 418px;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 22px 24px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    border-radius: 10px;
    transform: translateY(-37px);

    @include media-breakpoint-down(sm) {
        transform: translateY(0);
        max-width: 100%;
        width: unset;
        margin: 0 15px;
    }

    @include media-breakpoint-down(xs) {
        margin: 0 5px;
    }

    @include media-breakpoint-down(xxs) {
        margin: 0;
    }

    &__title {
        color: #888;
        font-size: 13px;
        margin: 0 0 4px 14px;

        @include media-breakpoint-down(xxs) {
            margin: 0 0 4px 6px;
        }
    }

    &__wrap {
        position: relative;
    }

    &__input {
        border: 1px solid rgb(226, 226, 226);
        border-radius: 6px;
        height: 42px;
        width: 100%;
        margin-bottom: 15px;
        padding-left: 10px;
    }
    &__textarea {
        border: 1px solid rgb(226, 226, 226);
        border-radius: 6px;
        width: 100%;
        resize: none;
        min-height: 83px;
        margin-bottom: 26px;
        padding: 10px;

        @include media-breakpoint-down(xxs) {
            margin-bottom: 29px;
        }
    }
    &__btn {
        height: 42px;
    }

    .error{
        right: 5px;
        top: -18px;
        position: absolute;
        font-size: 12px;
        color: rgb(199 41 41);
    }
}



