.banner {
  &__bg {
    position: relative;
    &-img {
      background-image: url('./../../images/banner.webp');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 320px;
      margin-top: 100px;

      @include media-breakpoint-down(md) {
        margin-top: 50px;
      }

      @include media-breakpoint-down(xs) {
        height: 191px;
      }
    }

    &-oval {
      position: absolute;
      bottom: 0;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }

  &__container {
  }

  &__content {
    position: relative;
    top: -99px;
  }
}

.result {
  position: relative;
  top: -60px;
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 42px;
    margin-bottom: 35px;
    width: 100%;

    @include media-breakpoint-down(my) {
      align-items: start;
      flex-direction: column;
    }

    &-title {
      font-weight: 400;
      font-size: 24px;
      color: #222;

      @include media-breakpoint-down(xs) {
        font-size: 20px;
      }
    }

    &-column {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 42px;
      // width: 100%;

      @include media-breakpoint-down(my) {
        margin-top: 16px;
        width: 100%;
      }

      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
        align-items: start;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 14px;
      margin: 0 26px 0 30px;
      width: 201px;
      height: 42px;
      border: 1px solid #f68521;
      border-radius: 6px;
      color: #f68521;

      svg {
        width: 25px;
        height: 21px;
        margin-right: 12px;
      }

      @include media-breakpoint-down(my) {
        margin: 0 26px 0 0px;
      }

      @include media-breakpoint-down(sm) {
        margin: 0 15px 0 0px;
      }

      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }

    &-sort {
      display: flex;
      align-items: center;

      @include media-breakpoint-down(sm) {
        margin-bottom: 16px;
      }

      @include media-breakpoint-down(xs) {
        flex-direction: column;
        align-items: start;
        width: 100%;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 14px;
      color: #555;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      @include media-breakpoint-down(xs) {
        margin-top: 16px;
        // width: 330px;
      }

      @include media-breakpoint-down(xxs) {
        // width: 300px;
      }
    }

    &-select,
    &-subselect {
      display: flex;
      align-items: center;
      width: 149px;
      height: 42px;
      border: 1px solid #e2e2e2;
      border-radius: 6px;
    }

    &-select {
      margin: 0 12px 0;

      @include media-breakpoint-down(xs) {
        margin: 0;
      }

      @include media-breakpoint-down(xxs) {
        margin-right: 5px;
      }
    }

    &-subselect {
      width: 200px;

      @include media-breakpoint-down(xs) {
        width: 149px;
      }
    }

    &-row,
    &-subrow {
      width: 85%;

      @include media-breakpoint-down(xxs) {
        width: 90%;
      }
    }

    &-current {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
    }

    &-subcurrent {
      @include media-breakpoint-down(sm) {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
      }
    }

    &-sublist {
      li {
        padding: 10px 5px 10px 5px;
      }
    }

    &-slide {
      max-width: 258px;

      .air-datepicker.-inline- {
        border: 1px solid #e2e2e2 !important;
        border-radius: 10px;
        height: 269px;
        overflow: hidden;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      }

      .air-datepicker--content {
        padding: 0;
        height: 100%;
      }

      .air-datepicker-body {
        height: 100%;
      }

      .air-datepicker {
        height: 278px;
      }

      .air-datepicker-nav {
        border: none;
      }

      .air-datepicker-body--day-name {
        font-weight: 400;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: #222;
      }

      .air-datepicker-nav--action {
        display: none;
      }
      .air-datepicker-nav--action {
      }
      .air-datepicker-nav--title {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        width: 100%;
        color: #222;
      }

      .air-datepicker-body--cells {
        margin-top: 16px;
        grid-template-columns: repeat(7, 37px) !important;
        grid-auto-rows: 39px !important;
        width: 100%;
        height: 100%;
      }

      .air-datepicker-cell {
        border: 1px solid #e2e2e2;
        border-radius: 0px;
        background: #f1f1f1;
        display: flex;
        flex-direction: column;

        span {
          display: block;
          font-size: 12px;
          color: #222;
        }
        &-selected- {
          background: #f68521;
        }

        &-focus- {
          background: #f68521 !important;
        }

        &-day- {
          font-weight: 400;
          font-size: 14px;
          color: #b4b4b4;
        }
      }

      .-other-month- {
        background: #fff;
      }

      .air-datepicker-cell.-focus- {
        background: #f68521 !important;
        color: #fff !important;
      }
    }

    &-swiper {
    }

    &-wrapper {
    }

    &-next,
    &-prev {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 40%;
      left: -72px;
      transform: translate(-50%) rotate(90deg);
      width: 48px;
      height: 48px;
      z-index: 5;
      background: #ecf1eb;
      border-radius: 100%;
      overflow: visible;
      cursor: pointer;

      @include media-breakpoint-down(my) {
        display: none;
      }

      svg {
        width: 32px;
        height: 32px;
        fill: #3e7739;
        fill-opacity: 0.5;
      }

      &:hover:hover {
        background: #dbe6d9;
      }
    }

    &-next {
      left: auto;
      right: -72px;
      transform: rotate(-90deg);
    }
  }

  &__calendar {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;

    &_show {
      height: 370px;
      overflow: visible;
    }

    &-date {
      margin-top: 48px;
    }

    &-info {
      font-weight: 400;
      font-size: 24px;
      color: #222;
      padding-bottom: 8px;
      border-bottom: 1px solid #cecece;

      span {
        font-weight: 700;
      }

      @include media-breakpoint-down(xs) {
        font-size: 20px;
        margin-bottom: 20px;
      }

      @include media-breakpoint-down(xxs) {
        text-align: center;
        margin-bottom: 30px;
      }
    }
  }

  &__hotel {
    display: flex;
    border-top: 1px solid #e2e2e2;
    padding-top: 40px;
    &:first-child {
      border: none;
      padding: 0;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    &-slider {
      width: 380px;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    &-swiper {
      width: 380px;
      border-radius: 8px;
      height: 250px;
      position: relative;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    &-slide {
      width: 380px !important;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-btn-next,
    &-btn-prev {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      left: 10px;
      z-index: 5;
      background: #0003;
      border-radius: 50%;
      transform: rotate(90deg);
      cursor: pointer;

      svg {
        width: 24px;
        height: 24px;
        fill: #fff;
      }
    }

    &-btn-next {
      left: auto;
      right: 10px;
      transform: rotate(-90deg);
    }

    &-row {
      display: flex;
      position: relative;
      @include media-breakpoint-down(my) {
        justify-content: space-between;
        width: 100%;
      }

      @include media-breakpoint-down(md) {
        justify-content: space-between;
        margin-top: 20px;
      }

      @include media-breakpoint-down(xs) {
        flex-direction: column;
        margin-top: 12px;
      }
    }

    &-info {
      margin-left: 40px;

      @include media-breakpoint-down(my) {
        margin-left: 20px;
      }

      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }

    &-item {
      max-width: 294px;
      width: 100%;

      @include media-breakpoint-down(xs) {
        max-width: 100%;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 18px;
      color: #222;
      margin-bottom: 12px;
    }

    &-location {
      display: flex;
      align-items: center;
      border: 1px solid #e2e2e2;
      padding: 5px 10px;
      border-radius: 6px;
      width: fit-content;
      margin-bottom: 16px;

      svg {
        width: 10px;
        height: 14px;
        fill: #3e7739;
        fill-opacity: 0.5;
        margin-right: 9px;
      }
    }

    &-region {
      margin-left: 5px;
    }

    &-country,
    &-region {
      font-weight: 400;
      font-size: 14px;
      color: #222;
    }

    &-descript {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #666;
      overflow: hidden;
      height: 105px;
      margin-bottom: 39px;

      @include media-breakpoint-down(xs) {
        margin-bottom: 14px;
        height: auto;
      }
    }

    &-link {
      @include media-breakpoint-down(xs) {
        position: absolute;
        top: 0;
        right: 0;
      }

      a {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        color: #555;
        margin-left: 8px;
        @include media-breakpoint-down(xs) {
          font-size: 0;
        }

        svg {
          width: 24px;
          height: 24px;
          margin-left: 8px;
          fill: #f68521;
        }
      }
    }

    &-rating {
      margin-left: 40px;
      display: flex;
      justify-content: space-between;
      width: 400px;

      @include media-breakpoint-down(my) {
        margin-left: 20px;
      }

      @include media-breakpoint-down(md) {
        margin-left: 10px;
        width: 100%;
      }

      @include media-breakpoint-down(xs) {
        flex-direction: column;
        margin: 0;
      }
    }

    &-column {
      max-width: 166px;
      width: 100%;

      @include media-breakpoint-down(xs) {
        max-width: 100%;
      }
    }

    &-star {
      width: fit-content;
      margin-bottom: 24px;
      svg {
        width: 18px;
        height: 18px;
        fill: #f5c213;
      }
    }

    &-subitem {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 148px;

      @include media-breakpoint-down(xs) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 50px;
        margin-bottom: 12px;
      }

      p {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        color: #222;
        height: auto;

        svg {
          width: 18px;
          height: 18px;
          fill: #3e7739;
          fill-opacity: 0.5;
          margin-right: 18px;
        }
      }
    }

    &-price {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 250px;
      border-radius: 10px;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      padding: 52px 20px 20px;
      margin-left: 10px;
      margin-bottom: 20px;

      &_act {
        height: 270px;
        margin: 0;
        border-radius: 10px 10px 0 0;
        background: #f4f6fa;
        box-shadow: none;
      }

      @include media-breakpoint-down(xs) {
        width: 100%;
        height: 103px;
        margin: 0;
        padding: 12px 20px 15px;
      }

      &-btn {
        border-radius: 6px;
        width: 160px;
        height: 42px;
        background: #f68521;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin-top: auto;
        border: 1px solid transparent;

        &_act {
          margin-bottom: 20px;
          background: #fff;
          color: #222;
          border: 1px solid #f68521;
        }

        @include media-breakpoint-down(xs) {
        }
      }
    }

    &-num {
      max-width: 140px;
      width: 100%;
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      color: #222;

      @include media-breakpoint-down(xs) {
        max-width: 100%;
        font-size: 16px;
      }

      span {
        &:last-child {
          font-weight: 700;
          font-size: 24px;
          color: #000;

          @include media-breakpoint-down(xs) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.table {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  background: #f4f6fa;
  margin-right: 16px;
  padding: 0 24px 10px;
  height: auto;
  margin-bottom: 40px;
  @include media-breakpoint-down(my) {
    margin-right: 0;
  }

  @include media-breakpoint-down(sm) {
    // display: flex;
    // justify-content: space-between;
  }

  &_show {
    height: 0;
    overflow: hidden;
    padding: 0;
  }

  &__tr {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(auto-fit, minmax(0%, 16%));
    }

    @include media-breakpoint-down(sm) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    &_sub {
      height: 54px;
      margin-top: 12px;
    }
  }

  &__th {
    font-weight: 400;
    font-size: 14px;
    color: #666;
    padding: 18px 0 24px;
  }

  &__td {
    font-weight: 400;
    font-size: 16px;
    color: #222;
    padding-top: 10px;

    span {
      font-weight: 700;
      color: #000;
    }

    &:last-child {
      padding: 0;
      margin-left: auto;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background: #e2e2e2;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    width: 160px;
    height: 42px;
    background: #f68521;
    margin: 0 auto;
  }
}
