@font-face {
  src: url('./../../fonts/OpenSans-Bold.woff2') format('woff2');
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./../../fonts/Roboto-Regular.woff2') format('woff2');
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./../../fonts/OpenSans-Regular.woff2') format('woff2');
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./../../fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
