<section class="offer">
  <div class="offer__container">
    <h2 class="offer__title">НЕТ ВРЕМЕНИ ИСКАТЬ ТУР?</h2>
    <p class="offer__text">
      Просто скажите нам как должен выглядеть отдых вашей мечты и мы найдём
      лучший тур для вас!
    </p>
    <div class="offer__content">
      <div class="offer__request">
        <p class="offer__request-text">
          Заполните короткую форму запроса на нашем сайте и мы свяжемся с вами в
          течении 1 часа в рабочее время
        </p>
        <a href="tour_request.html" class="offer__request-link"
          >ЗАПОЛНИТЬ ЗАЯВКУ НА ПОИСК ТУРА</a
        >
      </div>
      <p class="offer__or">или</p>
      <div class="offer__assistant">
        <p class="offer__assistant-text">Свяжитесь с нашим консультантом</p>
        <div class="offer__assistant-row">
          <div class="offer__assistant-img">
            <picture>
              <source
                srcset="./src/images/offer/assistant.webp"
                type="image/webp"
              />
              <img src="./src/images/offer/assistant.png" alt="assistant" />
            </picture>
          </div>
          <div class="offer__assistant-column">
            <p class="offer__assistant-name">Марина Каасик</p>
            <p class="offer__assistant-info">Специалист по подбору туров</p>
            <div class="offer__assistant-social">
              <a class="offer__assistant-link" href="tel:+372 6 130 633">
                <svg>
                  <use xlink:href="#phone"></use>
                </svg>
                +372 6 130 633
              </a>
              <a class="offer__assistant-link" href="mailto:contact@email.ee">
                <svg>
                  <use xlink:href="#mail"></use>
                </svg>
                contact@email.ee
              </a>
              <a
                class="offer__assistant-link"
                href="https://www.messenger.com/"
              >
                <svg>
                  <use xlink:href="#messanger"></use>
                </svg>
                Написать в Messenger</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
