<div class="search">
  <div class="search__row">
    <img class="search__row-svg" src="./src/images/clock.svg" alt="clock" />
    <h1 class="search__row-title">{=$title}</h1>
  </div>

  <div class="search__panel search__panel_bg">
    <div class="search__panel-info info">
      <div class="info__destination">
        <p class="info__destination-text info__text">Направление</p>

        <div class="info__destination-select dropdown">
          <div class="info__destination-select dropdown">

            <div class="info__destination-row dropdown__row">
              <p class="info__destination-current dropdown__current">Направление</p>

              <svg class="info__destination-icon dropdown__icon">
                <use xlink:href="#chevron-left"></use>
              </svg>
              
            </div>

            <ul class="info__destination-list dropdown__list">
              <li class="dropdown__item">Все направления</li>
              <li class="dropdown__item">Египет</li>
              <li class="dropdown__item">АОЭ</li>
              <li class="dropdown__item">Таиланд</li>
              <li class="dropdown__item">Болгария</li>
              <li class="dropdown__item">Чорногория</li>
              <li class="dropdown__item">Индонезия</li>
              <li class="dropdown__item">Грузия</li>
              <li class="dropdown__item">Греция</li>
              <li class="dropdown__item">Турция</li>
              <li class="dropdown__item">Кипр</li>
              <li class="dropdown__item">Тунис</li>
              <li class="dropdown__item">Испания</li>
              <li class="dropdown__item">Украина</li>
            </ul>

          </div>
        </div>
      </div>

      <div class="info__duration">
        <p class="info__duration-text info__text">Длительность тура</p>
        <div class="info__duration-select dropdown">
          <div class="info__duration-row dropdown__row">
            <p class="info__duration-current dropdown__current">Длительность</p>
            <svg class="info__duration-icon dropdown__icon">
              <use xlink:href="#chevron-left"></use>
            </svg>
          </div>
          <ul class="info__duration-list dropdown__list">
            <li class="info__duration-item dropdown__item">3 ночи</li>
            <li class="info__duration-item dropdown__item">7 ночей</li>
            <li class="info__duration-item dropdown__item">10 ночей</li>
            <li class="info__duration-item dropdown__item">14 ночей</li>
            <li class="info__duration-item dropdown__item">21 ночь</li>
          </ul>
        </div>
      </div>

      <div class="info__date">
        <p class="info__date-text info__text">Дата вылета</p>
        <div class="info__date-select dropdown">
          <div class="info__date-row dropdown__row">
            <p class="info__date-current dropdown__current">Дата</p>
            <img src="./src/images/calendar.png" alt="calendar" />
          </div>
          <ul class="info__date-list dropdown__list">
            <li class="info__date-item dropdown__item">
              <div class="info__date-calendar" id="calendar"></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="info__guests">
        <p class="info__guests-text info__text">Гости</p>
        <div class="info__guests-select dropdown">
          <div class="info__guests-row dropdown__row">
            <p class="info__guests-current dropdown__current">
              <span class="info__guests-adults">Взрослых:</span>
              <span class="info__guests-counter">0</span>
              <span class="info__guests-kids">детей:</span>
              <span class="info__guests-subcounter">0</span>
            </p>
            <svg class="info__guests-icon dropdown__icon">
              <use xlink:href="#chevron-left"></use>
            </svg>
          </div>
          <ul class="info__guests-list dropdown__list">
            <li class="info__guests-item">Добавьте необходимое кол-во гостей</li>

            <li class="info__guests-item info__guests-item_adults">
              <div class="info__guests-subitem">
                <p>Взрослых</p>
                <div class="info__guests-subrow">
                  <button class="info__guests-minus info__guests-minus_adults">
                    <svg>
                      <use xlink:href="#minus-circle"></use>
                    </svg>
                  </button>
                  <span class="info__guests-counters info__guests-counters_adults">0</span>
                  <button class="info__guests-plus info__guests-plus_adults">
                    <svg>
                      <use xlink:href="#plus-circle"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>

            <li class="info__guests-item info__guests-item_kids">
              <div class="info__guests-subitem">
                <p>Детей</p>

                <div class="info__guests-subrow">
                  <button class="info__guests-minus info__guests-minus_kids">
                    <svg>
                      <use xlink:href="#minus-circle"></use>
                    </svg>
                  </button>
                  <span class="info__guests-counters info__guests-counters_kids"> 0 </span>
                  <button class="info__guests-plus info__guests-plus_kids">
                    <svg>
                      <use xlink:href="#plus-circle"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>

            <li class="info__guests-item">
              <button class="info__guests-add">Добавить</button>
            </li>
          </ul>
        </div>
      </div>

      <button class="info__btn">
        <svg>
          <use xlink:href="#search"></use>
        </svg>
        Найти
      </button>
    </div>
  </div>

  <div class="search__row search__row-advanced advanced">
    <div class="advanced__row">
      <button class="advanced__row-btn">
        <svg>
          <use xlink:href="#zoom"></use>
        </svg>
        Расширенный поиск
      </button>

      <hr class="advanced__row-line" />

      <button class="advanced__row-close-btn">
        <svg>
          <use xlink:href="#minus-circle"></use>
        </svg>
        Закрыть
      </button>
    </div>

    <div class="advanced__categori">
      <div class="advanced__categori-item">
        <div class="advanced__categori-column">
          <div class="advanced__categori-star">
            <h2 class="advanced__categori-title">Категория размещения</h2>

            <button class="advanced__categori-btns advanced__categori-btns-stars">
              <svg>
                <use xlink:href="#star"></use>
              </svg>
              <svg>
                <use xlink:href="#star"></use>
              </svg>
            </button>

            <button class="advanced__categori-btns advanced__categori-btns-stars">
              <svg>
                <use xlink:href="#star"></use>
              </svg>
              <svg>
                <use xlink:href="#star"></use>
              </svg>
              <svg>
                <use xlink:href="#star"></use>
              </svg>
            </button>

            <button class="advanced__categori-btns advanced__categori-btns-stars">
              <svg>
                <use xlink:href="#star"></use>
              </svg>
              <svg>
                <use xlink:href="#star"></use>
              </svg>
              <svg>
                <use xlink:href="#star"></use>
              </svg>
              <svg>
                <use xlink:href="#star"></use>
              </svg>
            </button>

            <button class="advanced__categori-btns advanced__categori-btns-stars">
              <svg>
                <use xlink:href="#star"></use>
              </svg>
              <svg>
                <use xlink:href="#star"></use>
              </svg>
              <svg>
                <use xlink:href="#star"></use>
              </svg>
              <svg>
                <use xlink:href="#star"></use>
              </svg>
              <svg>
                <use xlink:href="#star"></use>
              </svg>
            </button>

            <button class="advanced__categori-btns advanced__categori-btns-stars">
              <svg>
                <use xlink:href="#house"></use>
              </svg>
              Апартаменты
            </button>
          </div>

          <div class="advanced__categori-meal">
            <h2 class="advanced__categori-title">Питание</h2>

            <button class="advanced__categori-btns advanced__categori-btns-meals">
              <svg>
                <use xlink:href="#check-circle"></use>
              </svg>
              Без питания
            </button>

            <button class="advanced__categori-btns advanced__categori-btns-meals">
              <svg>
                <use xlink:href="#check-circle"></use>
              </svg>
              Завтрак
            </button>

            <button class="advanced__categori-btns advanced__categori-btns-meals">
              <svg>
                <use xlink:href="#check-circle"></use>
              </svg>
              Затрак и ужин
            </button>

            <button class="advanced__categori-btns advanced__categori-btns-meals">
              <svg>
                <use xlink:href="#check-circle"></use>
              </svg>
              Завтрак, обед, ужин
            </button>

            <button class="advanced__categori-btns advanced__categori-btns-meals">
              <svg>
                <use xlink:href="#check-circle"></use>
              </svg>
              Всё включено
            </button>

            <button class="advanced__categori-btns advanced__categori-btns-meals">
              <svg>
                <use xlink:href="#check-circle"></use>
              </svg>
              Ультра: всё включено
            </button>
          </div>
        </div>

        <div class="advanced__categori-column">
          <div class="advanced__categori-lineup">
            <h2 class="advanced__categori-title">Состав тура</h2>

            <button class="advanced__categori-btns advanced__categori-btns-tour">
              <svg>
                <use xlink:href="#check-circle"></use>
              </svg>
              Туристический пакет
            </button>

            <button class="advanced__categori-btns advanced__categori-btns-tour">
              <svg>
                <use xlink:href="#check-circle"></use>
              </svg>
              Только перелет
            </button>
          </div>

          <div class="advanced__categori-departure">
            <h2 class="advanced__categori-title">Вылет из</h2>

            <button class="advanced__categori-btns advanced__categori-btns-city">
              <svg>
                <use xlink:href="#check-circle"></use>
              </svg>
              Киева
            </button>

            <button class="advanced__categori-btns advanced__categori-btns-city">
              <svg>
                <use xlink:href="#check-circle"></use>
              </svg>
              Львова
            </button>

            <button class="advanced__categori-btns advanced__categori-btns-city">
              <svg>
                <use xlink:href="#check-circle"></use>
              </svg>
              Харькова
            </button>
          </div>

          <div class="advanced__categori-price">
            <h2 class="advanced__categori-title">Цена на одного человека</h2>

            <div class="advanced__categori-slide"></div>
          </div>
        </div>

        <div class="advanced__categori-column">
          <div class="advanced__categori-regions">
            <h2 class="advanced__categori-title">Регион</h2>

            <div class="advanced__categori-render"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="advanced__filter">
      <hr class="advanced__filter-line" />

      <div class="advanced__filter-row">
        <h3 class="advanced__filter-title">Активные фильтры:</h3>

        <div class="advanced__filter-subrow">
          <h3 class="advanced__filter-title advanced__filter-title_sub">Категория</h3>

          <div class="advanced__filter-active">
            <div class="advanced__filter-star"></div>
            <div class="advanced__filter-meal"></div>
            <div class="advanced__filter-lineup"></div>
            <div class="advanced__filter-departure"></div>
            <div class="advanced__filter-region"></div>
          </div>
          
        </div>

      </div>

    </div>
  </div>
</div>
