@import "./config/fonts";
@import "./config/media-breakpoints";
@import "./config/mixins";
@import "./config/reset";
@import "./components/header";
@import "./components/footer";
@import "./components/ui/btn";

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #222;
  // overflow: hidden;
  ::-webkit-scrollbar-thumb {
    background-color: rgb(246 133 33 / 80%);
    border-radius: 3px;

    &:hover {
      background-color: rgb(246 133 33 / 100%);

    }
  }
  ::-webkit-scrollbar {
    width: 8px;
  
    @include media-breakpoint-down(sm) {
      width: 6px;
    }
  }
  
  
}

[class*="__container"] {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
}

.preloader{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color:#fff;
  transition: all 200ms ease 0s;

  &_hidden{
    pointer-events: none;
    z-index: -100;
    opacity: 0;
  }

  span{
    position: absolute;
    overflow: hidden;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    height: 7px;
    border-radius: 5px;
    width: 120px;
    background-color: #999999b9;

    @include media-breakpoint-down(md) {
      width: 100px;
    }

    &::before{
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 8px;
      border-radius: 5px;
      animation: preloader 1s ease-in-out infinite;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px 0 0 6px;
  background-color: rgb(37 82 150 / 90%);

  &:hover {
    background-color: rgb(37 82 150 / 100%);
  }
}

::-ms-scrollbar {
  width: 8px;
}

::-ms-scrollbar-thumb {
  border-radius: 6px 0 0 6px;
  background-color: rgb(37 82 150 / 90%);

  &:hover {
    background-color: rgb(37 82 150 / 100%);
  }
}

@keyframes preloader {
  0% {
    background-color: #F68521;
    left: -100%;
  }
  49% {
    background-color: #F68521;
  }
  50% {
    background-color: #255296;
    left: 100%;
  }
  99% {
    background-color: #255296;
  }
  100% {
    background-color: #F68521;
    left: -100%;
  }
}







