.company-company {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 15px;

    @include media-breakpoint-down(xs) {
      row-gap: 18px;
    }
  }

  &__card-wrapper {
    padding: 1px;
  }

  &__card-line-wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 129%;
      height: 31px;
      background: #f68521;
    }
  }

  &__swiper-round {

    @media (width >= 1024px) {
      &:hover {
        &::before {
          opacity: 0.4;
        }
      }
    }
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease;
      z-index: -1;
      background: #3e7739;
      opacity: 0.1;

      @include media-breakpoint-down(md) {
        background: #fff;
        opacity: 1;
      }
    }
  }

  &__title {

    span {
      color: #f15d28;
    }

    svg {
      width: 35px;
      height: 35px;
      fill: rgb(241 93 40 / 100%);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 38px;
    padding-top: 64px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: 26px;
    gap: 7px;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      margin-bottom: 40px;
      padding-top: 0;
      gap: 4px;
    }
  }

  &__card {
    border-radius: 10px;
    width: 100%;
    height: 330px;
    max-width: 380px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    background: #fff;
  }

  &__card-img {

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 250px;
    }
    position: relative;
  }

  &__card-line {

    svg {
      width: 3px;
      height: 31px;
      fill: #f68521;
    }
    position: absolute;
    right: 20px;
    top: 29px;
    display: flex;
  }

  &__card-line-price {
    position: relative;
    left: 67%;
    top: 50%;
    font-weight: 700;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
  }

  &__card-data-wrapper {

    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
    }
    position: absolute;
    left: 15px;
    bottom: 14px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 7px 15px 7px 8px;
    background: rgb(0 0 0 / 50%);
    gap: 10px;
  }

  &__card-data {
    font-size: 14px;
    color: #fff;
  }

  &__card-text {
    padding: 16px 10px 5px 21px;
  }
  position: relative;
  top: -100px;
  margin-bottom: 99px;
  background: #fff;

  @include media-breakpoint-down(xs) {
    top: 0;
    margin-bottom: 77px;
  }
}
