.company-bg {
  &__image {
    img {
      width: 100%;
      height: clamp(516px, 50%, 240px);
      min-height: 240px;
      max-height: 516px;
      object-fit: cover;
    }
  }

  &__line {
    position: absolute;
    left: 0;
    bottom: 96px;
    width: 100%;
    height: 33px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__img {
    position: relative;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 52px;
  }
}
